@charset "UTF-8";

/*
  table
 */

.table {
  table-layout: fixed;
  width: 100%;
  margin: 0 0 40px;
  border-collapse: collapse;
  th {
    background: #eee;
  }
  th,
  td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  .is-left {
    text-align: left;
  }
}
