<div class="media-list__item col l<%= col.l %> s<%= col.s %>">
  <a href="#" class="media media--vertical is-line-<%= line %>">
    
    <div class="image">
      <img src="../assets/img/media_sample.png" class="thumb-media">
    </div>

    <div class="media__content">
      <div class="ttl is-4">タイトルaaa</div>
      <div class="txt is-4">テキスト</div>
      <div class="txt is-5">
        <span class="date">2017/5/5</span> |
        <span class="category">カテゴリ</span>
      </div>
    </div>
  </a><!-- /.media -->
</div><!-- /.media-list__item -->