<footer class="footer is-bg-key">
  <div class="footer__head"></div>
  <div class="footer__body">
    <div class="container sep-row is-gap-3 is-w-2">
      <div class="container__block col l3 s1">
        <ul class="is-nostyle">
          <li class="list__item"><a href="#" class="txt is-3"><span class="icon is-left icon-arrow"></span>親リンク</a>
          </li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
        </ul>
      </div><!-- /.container__block -->
      <div class="container__block col l3 s1 is-sp-disp-none">
        <ul class="is-nostyle">
          <li class="list__item"><span class="txt is-3">親テキスト</span>
          </li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
        </ul>
      </div><!-- /.container__block -->
      <div class="container__block col l3 s1">
        <ul class="is-nostyle">
          <li class="list__item"><a href="#" class="txt is-3"><span class="icon is-left icon-arrow"></span>親リンク</a>
          </li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
        </ul>
      </div><!-- /.container__block -->
    </div><!-- /.container -->
    <div class="container sep-row is-gap-3 is-w-2">
      <div class="container__block col l3 s1">
        <ul class="is-nostyle">
          <li class="list__item"><a href="#" class="txt is-3"><span class="icon is-left icon-arrow"></span>親リンク</a>
          </li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
        </ul>
      </div><!-- /.container__block -->
      <div class="container__block col l3 s1 is-sp-disp-none">
        <ul class="is-nostyle">
          <li class="list__item"><span class="txt is-3">親テキスト</span>
          </li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
        </ul>
      </div><!-- /.container__block -->
      <div class="container__block col l3 s1">
        <ul class="is-nostyle">
          <li class="list__item"><a href="#" class="txt is-3"><span class="icon is-left icon-arrow"></span>親リンク</a>
          </li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
          <li class="list__item"><a href="#" class="txt is-4"><span class="icon is-left icon-arrow"></span>子リンク</a></li>
        </ul>
      </div><!-- /.container__block -->
    </div><!-- /.container -->
  </div>
  <div class="footer__foot">
    <div class="copylight txt is-4 is-center is-white">
      Copyright © ZENYAKU KOGYO. All rights reserved.
    </div>
  </div>

</footer>