<header class="header">
  <div class="header__inner">
    <div class="header__top is-w-2">

      <div class="header__item">
        <h1 class="logo"><a href="/"><span>全薬工業株式会社</span></a></h1>
      </div><!-- /.header__item -->

      <div class="header__item">

        <div class="header__user-actions">
          <div class="header__user-actions__item">

            <div class="font-size-change">
              <div class="font-size-change__block">
                文字サイズ
              </div><!-- /.font-size-change__block -->
              <div class="font-size-change__block">
                <button type="button" id="js-fs-normal" class="btn-fs current">標準</button>
                <!--
                --><button type="button" id="js-fs-large" class="btn-fs">拡大</button>
              </div><!-- /.font-size-change__block -->
            </div><!-- /.font-size-change -->

          </div><!-- /.header__user-actions__item -->
          <div class="
                  header__user-actions__item">
            <div class="search">
              <form id="searchFrom" action="URL入れないと" method="get">
                <input class="search__input" name="s" type="text" placeholder="何をお探しですか？" />
                <button class="search__btn" type="submit"><span class="icon icon-search"></span></button>
              </form>
            </div>
          </div>

          <div class="header__user-actions__item">
            <div class="gloval-nav-btn toggle">
              <div class="gloval-nav-btn__block toggle-trigger">
                <span class="gloval-nav-btn__icon"></span>
              </div>
            </div>
          </div><!-- /.header__user-actions__item -->

        </div><!-- /.header__user-actions -->

      </div><!-- /.header__item -->

    </div><!-- /.header__block -->

    <div class="header__bottom is-w-2">

      <nav class="gloval-nav toggle-target">

        <div class="gloval-nav__block">
          <a href="#" class="gloval-nav__item toggle">
            <span class="gloval-nav__item-inner toggle-trigger">
              <span class="icon icon-corp is-left"></span>全薬工業について<span class="icon icon-toggle icon-arrow is-right-fix"></span>
            </span>
          </a>
          <div class="dropmenu toggle-target">
            <div class="dropmenu__block sep-row is-w-2">
              <div class="dropmenu__item col l5 s1">
                <a href="/corp/ideal/" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>創薬理念</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/corp/gaiyo/" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>会社概要</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/corp/history/" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>沿革</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/corp/jigyosyo/" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>事業所のご案内</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/corp/#activities" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>会社の取り組み</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/corp/#field" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>事業領域</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/corp/#division" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>事業部門</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/rectuit/" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>採用情報</a>
              </div><!-- /.dropmenu__item -->
            </div><!-- /.dropmenu__block -->
          </div><!-- /.dropmenu -->
        </div><!-- /.gloval-nav__inline -->

        <div class="gloval-nav__block">
          <a href="#" class="gloval-nav__item toggle">
            <span class="gloval-nav__item-inner toggle-trigger">
              <span class="icon icon-product is-left"></span>製品のご案内<span class="icon icon-toggle icon-arrow is-right-fix"></span>
            </span>
          </a>
          <div class="dropmenu toggle-target">
            <div class="dropmenu__block sep-row is-w-2">
              <div class="dropmenu__item col l5 s1">
                <a href="/product/ideal/" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>部位・症状から探す</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/product/gaiyo/" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>会社概要</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/product/history/" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>沿革</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/product/jigyosyo/" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>事業所のご案内</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/product/#activities" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>会社の取り組み</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/product/#field" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>事業領域</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/product/#division" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>事業部門</a>
              </div><!-- /.dropmenu__item -->
              <div class="dropmenu__item col l5 s1">
                <a href="/product/" class="txt is-3"><span class="icon icon-arrow_has_bg is-left"></span>採用情報</a>
              </div><!-- /.dropmenu__item -->
            </div><!-- /.dropmenu__block -->
          </div><!-- /.dropmenu -->
        </div><!-- /.gloval-nav__inline -->

        <div class="gloval-nav__block">
          <a href="#" class="gloval-nav__item toggle">
            <span class="gloval-nav__item-inner toggle-trigger">
              <span class="icon icon-k1ban is-left"></span>健康情報<span class="icon icon-toggle icon-arrow is-right-fix"></span>
            </span>
          </a>
          <div class="dropmenu toggle-target">
            <div class="dropmenu__block is-w-2">
              <div class="dropmenu__item">
                <a href="#" class="txt is-3"><span class="icon icon-arrow is-left"></span>症状・部位から探す</a>
                <a href="#" class="txt is-3"><span class="icon icon-arrow is-left"></span>キーワードから探す</a>
                <a href="#" class="txt is-3"><span class="icon icon-arrow is-left"></span>宗像伸子のLet's健康クッキング</a>
                <a href="#" class="txt is-3"><span class="icon icon-arrow is-left"></span>症状・部位から探す</a>
                <a href="#" class="txt is-3"><span class="icon icon-arrow is-left"></span>キーワードから探す</a>
                <a href="#" class="txt is-3"><span class="icon icon-arrow is-left"></span>宗像伸子のLet's健康クッキング</a>
              </div><!-- /.dropmenu__item -->
            </div><!-- /.dropmenu__block -->
          </div><!-- /.dropmenu -->
        </div><!-- /.gloval-nav__inline -->

        <div class="gloval-nav__block">
          <a href="#" class="gloval-nav__item">
            <span class="gloval-nav__item-inner">
              <span class="icon icon-recruit is-left"></span>採用情報
            </span>
          </a>
        </div><!-- /.gloval-nav__inline -->

        <div class="gloval-nav__block">
          <!-- current -->
          <a href="#" class="gloval-nav__item">
            <span class="gloval-nav__item-inner">
              <span class="icon icon-iyaku is-left"></span>医療用医薬品
            </span>
          </a>
        </div><!-- /.gloval-nav__inline -->

        <div class="gloval-nav__block">
          <a href="#" class="gloval-nav__item">
            <span class="gloval-nav__item-inner">
              <span class="icon icon-inquiry is-left"></span>お問い合わせ
            </span>
          </a>
        </div><!-- /.gloval-nav__inline -->

      </nav><!-- /.gloval-nav -->

    </div><!-- /.header__block -->

  </div><!-- /.header__inner -->
</header><!-- /.header -->


<div class="breadcrumbs is-w-2">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item is-5"><a href="/"><span class="icon icon-home"></span>トップ</a></li>
    <li class="breadcrumbs__item is-5"><a href="#">あいうえお</a></li>
  </ul>
</div>