<!DOCTYPE html>
<html lang="ja">
<head>

  <title>パーツ：ボタン</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css" />

</head>
<body class="sample">

  <div class="wrapper">

<a href="#" class="btn is-square is-bg-key is-center">
  テストテストテスト
  <span class="icon icon-arrow is-right-fix"></span>
</a>

<br>

<a href="#" class="btn is-square is-line-gray is-center">
  テストテストテスト<br>テストテスト
  <span class="icon icon-arrow_has_bg is-right-fix"></span>
</a>

<br>

<a href="#" class="btn is-square is-bg-dk-gray is-center">
  <span class="icon icon-arrow_has_bg_re is-left-fix"></span>
  <span class="icon icon-product"></span> かぜの諸症状に戻る
</a>
<br>
<a href="#" class="btn is-square is-bg-dk-gray is-center">
  <span class="icon icon-arrow_has_bg_re is-left-fix"></span>
  <span class="icon icon-product"></span> 製品のご案内に戻る
</a>
<br>

<a href="#" class="btn is-square is-bg-dk-gray is-center">
  <span class="icon icon-arrow_has_bg_re is-left-fix"></span>
  バックリンク
</a>
  
<br>

<div class="sample-btn-bg">
  <a href="#" class="btn is-square is-bg-white">
    <img src="../../assets/img/thumb_sample.png" class="thumb-inline">
    50歳からの肉・魚レシピ
    <span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
  </a>

  <br>

  <a href="#" class="btn is-square btn-has-child is-line-white is-center">
    <div class="btn-container">
      <div class="btn-container__title">タイトル</div>
      <div class="btn-container__text">テキストテキスト</div>
      <div class="btn is-child is-round is-bg-white is-center">
        子ボタン
        <span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
      </div>
    </div><!-- /.btn__container -->
  </a>

  <br>

  <a href="#" style="background-image: url(../../assets/img/bg1.jpg)" class="btn is-square btn-has-child is-line-white is-bg-ph is-center">
    <div class="btn-container">
      <div class="btn-container__title">タイトル</div>
      <div class="btn-container__text">テキストテキスト</div>
      <div class="btn is-child is-round is-bg-white is-center">
        子ボタン
        <span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
      </div>
    </div><!-- /.btn__container -->
  </a>

</div>

<br>

<a href="#" class="btn is-round is-bg-key is-center">
テストaa
<span class="icon is-right icon-arrow is-right-fix"></span>
</a>

<br>

<a href="#" class="btn is-round is-bg-key btn-is-w-auto is-center">
テストaa
<span class="icon is-right icon-arrow is-right-fix"></span>
</a>

<br>

<a href="#" class="btn is-round is-bg-key is-w-4">
  テスト
  <span class="icon icon-arrow_has_bg is-right-fix"></span>
</a>

<br>

<a href="#" class="btn is-round is-bg-lt-gray">
  薄いグレー
  <span class="icon icon-arrow_has_bg is-right-fix"></span>
</a>

<br>

<a href="#" class="btn is-txt">
  テキストのみ<span class="icon is-right icon-arrow_has_bg"></span>
</a>

<br>

<a href="#" class="btn is-txt">
<span class="icon is-left icon-arrow"></span>テキストのみ
</a>

<br>

<a href="#" class="btn is-txt line-b">
テキストのみ
<span class="icon icon-arrow is-right-fix is-key"></span>
</a>

<br>

<div class="btn-group-has-line sep-row">
<a href="#" class="btn-group-has-line__btn col l2 current">
  テキストのみ
</a>
<a href="#" class="btn-group-has-line__btn col l2">
  テキストのみ
</a>
</div>

<br>

<a href="#" class="btn is-square is-bg-key is-center">
  <div class="btn-container">
    <div class="btn-container__block">
      <span class="icon icon-bui is-1"></span>
    </div>
    <div class="btn-container__title is-mb-less">部位・症状から探す<span class="icon icon-arrow_has_bg is-right"></span></div>
  </div><!-- /.btn__container -->
</a>

<br>

<a href="#" class="btn is-square is-bg-key is-center">
  <div class="container">
    <div class="container__block">
      <span class="icon icon-a is-1"></span>
    </div>
    <div class="ttl is-4">商品名から探す<span class="icon icon-arrow_has_bg is-right"></span></div>
  </div><!-- /.btn__container -->
</a>

<br>

<a href="#" class="btn is-square is-line-gray is-center">
  <div class="btn-container">
    <div class="btn-container__block">
      <div class="image"><img src="../../assets/img/thumb_sample.png" class="thumb"></div>
    </div>
    <div class="btn-container__title is-mb-less">タイトル<span class="icon icon-arrow_has_bg is-right"></span></div>
  </div><!-- /.btn__container -->
</a>

<br>

<a href="#" class="btn is-square is-line-gray">
  <div class="btn-container">
    <div class="btn-container__block is-center">
      <div class="image"><img src="../../assets/img/product-name.png" class="thumb thumb-product"></div>
      <div class="image"><img src="../../assets/img/logo_dikinin.png" class="thumb thumb-logo"></div>
    </div><!-- /.btn__container-block -->
    <div class="btn-container__block">
      <div class="btn-container__title">タイトル</div>
      <div class="btn-container__text is-mb-less">様々なかぜの諸症状の緩和に、優れた効き目を発揮</div>
    </div><!-- /.btn__container__block -->
  </div>
</a>


<br>

<a href="#" class="btn is-square is-line-gray">
  <div class="btn-container">
    <div class="btn-container__block is-center">
      <div class="btn-container__image"><img src="../../assets/img/product-name.png" class="thumb thumb-product"></div>
    </div><!-- /.btn__container-block -->
    <div class="btn-container__block">
      <div class="btn-container__title">タイトル</div>
      <div class="btn-container__text is-mb-less">様々なかぜの諸症状の緩和に、優れた効き目を発揮</div>
    </div><!-- /.btn__container__block -->
  </div>
</a>

  <script type="text/javascript" src="assets/js/default.js"></script>
</body>
</html>
