<!DOCTYPE html>
<html lang="ja">
<head>

  <title>パーツ単体</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css" />

</head>
<body class="sample">

<div class="profile">
  <div class="profile__inline">
    <div class="profile__img">
    <img alt="今村 甲彦" src="//img.aacdn.jp/201107/all/guide/1523/guide-1523-60-60.gif" class="thumb-round">
    </div>
  </div>

  <div class="profile__inline">
    <div class="profile__txt is-5">
      <p>監修：平沼尚和先生</p>
      <p>東京都 調布市平沼整形外科クリニック 院長</p>
    </div>
  </div>

</div><!-- /.profile -->



</body>
</html>
