<!DOCTYPE html>
<html lang="ja">
<head>

  <title>パーツ：テキスト</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css" />

</head>
<body class="sample">


<div class="searchBox">
<div class="searchInput">
<span class="icon-search"></span>
<input type="text" value="" placeholder="" data-search-input="true" dir="ltr" data-uia="search-box-input" maxlength="80" style="opacity: 1; transition-duration: 300ms;">
<span class="icon-close"></span>
</div>
</div>


</body>
</html>
