<!DOCTYPE html>
<html lang="ja">

<head>

  <title>パーツ：ul ol</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css" />

</head>

<body class="sample">

  <div class="list">
    <div class="list__block is-line-b row">
      <div class="list__item col l3 s12">
        <h2 class="ttl is-4 is-key">2018</h2>
      </div>
      <div class="list__item col l6 s6">
        <ul class="ul-list">
          <li class="list__item">アイウエオ書きくけこ</li>
        </ul>
      </div>
      <div class="list__item col l3 s3">
        <div class="image">
          <img src="../assets/img/media_sample.png">
        </div>
      </div>
    </div>
    <div class="list__block is-line-b row">
      <div class="list__item col l4 s12">aaa</div>
      <div class="list__item txt is-fl-less col l8 s12">
        <p class="txt is-3">あいうえお</p>
        <div class="btn-group">
          <div class="btn-group__block sep-row is-gap-2">
            <div class="btn-group__item col l3">
              <a href="#" class="btn is-round is-bg-lt-gray is-center">
                事業所紹介<span class="icon is-right icon-window is-right-fix is-key"></span>
              </a>
            </div><!-- /.btn-group__item -->
            <div class="btn-group__item col l3">
              <a href="#" class="btn is-round is-bg-lt-gray is-center">
                地図<span class="icon is-right icon-arrow_has_bg is-right-fix is-key"></span>
              </a>
            </div><!-- /.btn-group__item -->
          </div><!-- /.btn-group__block -->
        </div><!-- /.btn-group -->
      </div>
    </div><!-- /.list__block -->

    <div class="list__block is-line-b row">
      <div class="list__item col l4 s12">aaa</div>
      <div class="list__item txt is-fl-less col l8 s12">
        <p class="txt is-3">あいうえお</p>
        <div class="btn-group">
          <div class="btn-group__block sep-row is-gap-2">
            <div class="btn-group__item col l3">
              <a href="#" class="btn is-round is-bg-lt-gray is-center">
                事業所紹介<span class="icon is-right icon-window is-right-fix is-key"></span>
              </a>
            </div><!-- /.btn-group__item -->
            <div class="btn-group__item col l3">
              <a href="#" class="btn is-round is-bg-lt-gray is-center">
                地図<span class="icon is-right icon-arrow_has_bg is-right-fix is-key"></span>
              </a>
            </div><!-- /.btn-group__item -->
          </div><!-- /.btn-group__block -->
        </div><!-- /.btn-group -->
      </div>
    </div><!-- /.list__block -->

  </div>



  <div id="check_list" class="box is-bg-base">
    <ol id="check_content" class="ol-list is-circle-check">
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">果物が好きでよく食べる</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox01" type="checkbox">
              <span class="checkbox-parts">
                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>

      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">食事を食べるのが早い</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox02" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>

      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">缶コーヒーやジュースをよく飲む</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox03" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>

      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">疲れをとるために休日は遅くまで寝ている</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox04" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">いつも血圧が高めである</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox05" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">ストレスを感じることが多い</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox06" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">疲れているのに眠れないことが多い</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox07" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">タバコを1日10本以上吸う</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox08" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">就寝時刻は午前0時過ぎが多い</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox09" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">10年前と比べて5kg以上太った</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox10" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">紫外線を浴びることが多い</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox11" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">甘いものには目がない</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox12" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">お酒が大好きで飲みすぎることが多い</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox13" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">朝なかなか起きられない</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox14" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">サラダや果物が好きだが、煮野菜は食べない</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox15" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">夏でも手足が冷えている</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox16" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">朝食はほとんど食べない</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox17" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>

      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">週に5回以上外食する</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox18" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">どんぶりや麺類等の一品モノをよく食べる</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox19" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
      <li class="list__item txt is-3">
        <div class="row is-between">
          <div class="col l6 s6">階段よりエスカレーターやエレベーターを使う</div>
          <div class="col l6 s6 is-right">
            <label>
              <input class="checkbox is-hidden" name="checkbox20" type="checkbox">
              <span class="checkbox-parts">

                <span class="icon icon-checkbox_def"></span>
                <span class="icon icon-checkbox_checked"><span class="path1"></span><span class="path2"></span></span>
                はい
              </span>
            </label>
          </div>
        </div>
      </li>
    </ol>

    <div id="result01" class="check-result">
      <div class="ttl is-3 is-green">チェック0～2個 サラサラ血液です</div>
      <p class="txt is-3">いまの生活をキープしつつ、今後も食事などの生活習慣に気をつけて、健康を維持しましょう。</p>
    </div>
    <div id="result02" class="check-result">
      <div class="ttl is-3 is-war-2">チェック3～5個 少しドロドロです</div>
      <p class="txt is-3">食事や運動など、生活を少し改善すれば、すぐにサラサラ血液に。</p>
    </div>
    <div id="result03" class="check-result">
      <div class="ttl is-3 is-war-2">チェック6～9個 ドロドロです</div>
      <p class="txt is-3">いまの状態では、血管の老化が進み始めます。生活習慣を改善しましょう。</p>
    </div>
    <div id="result04" class="check-result">
      <div class="ttl is-3 is-war-1">チェック10個以上 動脈硬化の恐れあり</div>
      <p class="txt is-3">動脈硬化は自覚症状がありません。いますぐ生活改善が必要です。</p>
    </div>


    <div class="btn-group">
      <div class="btn-group__block sep-row is-gap-2 is-center">
        <div class="btn-group__item col l2 s1">
          <button class="btn is-round is-bg-white is-line-gray is-center" onclick="check('#check_list .checkbox')">
            チェック<span class="icon is-right icon-window is-right-fix is-key"></span>
          </button>
        </div><!-- /.btn-group__item -->
        <div class="btn-group__item col l2 s1">
          <button class="btn is-round is-bg-white is-line-gray is-center" onclick="reset('#check_list .checkbox')">
            やり直す<span class="icon is-right icon-window is-right-fix is-key"></span>
          </button>
        </div><!-- /.btn-group__item -->
      </div><!-- /.btn-group__block -->
    </div>

  </div>

  <ol class="ol-list">
    <li class="list__item txt is-3">アイウエオカキクケコさしすせそ</li>
    <li class="list__item txt is-3">アイウエオカキクケコさしすせそ</li>
    <li class="list__item txt is-3">アイウエオカキクケコさしすせそ</li>
  </ol>

  <ul class="ul-list">
    <li class="list__item txt is-3">アイウエオカキクケコさしすせそ</li>
    <li class="list__item txt is-3">アイウエオカキクケコさしすせそ</li>
    <li class="list__item txt is-3">アイウエオカキクケコさしすせそ</li>
  </ul>


  <div class="list">
    <div class="list__block row">
      <div class="list__item col l3 s12">2018/4/10</div>
      <div class="list__item col l9 s12">「老け知らずさんの健康レシピ」を更新しました。</div>
    </div>
  </div>

  <script src="assets/js/default.js"></script>

</body>

</html>