<!DOCTYPE html>
<html lang="ja">
<head>

  <title>パーツ：タイトル</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css" />

</head>
<body class="sample">

<h1 class="ttl is-1"> is-1タイトル</h1> <br>
<h1 class="ttl is-1 is-line-left is-line-key">ttl-has-is-line-leftタイトル</h1> <br>
<h1 class="ttl is-1 is-line-bottom is-line-gray">ttl-has-is-line-bottomタイトル</h1>

<br><br>

<h1 class="ttl is-2"> is-2タイトル</h1> <br>
<h1 class="ttl is-2 is-line-left is-line-key">ttl-has-is-line-leftタイトル</h1> <br>
<h1 class="ttl is-2 is-line-bottom is-line-gray"><span class="icon icon-arrow_has_bg is-left is-key"></span>おすすめ ttl-has-is-line-bottomタイトル</h1>

<br><br>

<h1 class="ttl is-3"> is-3タイトル</h1> <br>
<h1 class="ttl is-3 is-line-left is-line-key">ttl-has-is-line-leftタイトル</h1> <br>
<h1 class="ttl is-3 is-line-bottom is-line-gray">ttl-has-is-line-bottomタイトル</h1>

<br><br>

<div class="ttl is-3 is-bg-key is-white"> is-3タイトル</div> <br>
<div class="ttl is-3 is-bg-orange txt--orange"> is-3タイトル</div> <br>

<br><br>
<h1 class="ttl is-4 is-line-left is-line-orange">ttl-has-is-line-leftタイトル</h1> <br>


</body>
</html>
