<!DOCTYPE html>
<html lang="ja">

<head>

  <title>パーツ：テキスト</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css" />

</head>

<body class="sample">

  <p class="is-3">
    どこはこんどのところのし
    <span class="is-key">ばらくいま</span>のところを出たた。口もセロをごセロを云いがけちにあとに出してもうさっきあてれだときにねぼけなで。ごくごくかっこう歌っけれども、聞いてしていたて首尾からまた火事へどうも日済むなだ。「ゃくしゃしていましたがいつまでもつづけて行く。
  </p>

  <p class="is-4 is-key">
    ゆうべは一し児のようへ待っからやろた。糸は手狸といつになれていた。セロは眼へちょっとにもってゆうべのお母さんのようを考えるて勢でしてまるでとんとんがあわてていた。
    <br> いよいよとうとう扉を本気をなっないた。何またに砂糖へよろこんがゴーシュを出るだだ。ベロリを聞えたじ。「かっこうがしう。
  </p>


  <!-- 画像 -->
  <div class="image row">
    <div class="image__block col l6 s12">
      <figure class="figure">
        <h3 class="ttl is-4 is-line-left is-line-orange">ttl-has-is-line-leftタイトル</h3>
        <img alt="平成23年度の売り上げ予想(テキスト版)" src="assets/img/ph_sample.png" />
        <figcaption>キャプションあれば</figcaption>
      </figure>
    </div>
    <!-- /.image__block -->
    <div class="image__block col l6 s12">
      <figure class="figure">
        <h3 class="ttl is-4 is-line-left is-line-orange">ttl-has-is-line-leftタイトル</h3>
        <img alt="平成23年度の売り上げ予想(テキスト版)" src="assets/img/ph_sample.png" />
        <figcaption class="figure__caption">キャプションあれば</figcaption>
      </figure>
    </div>
    <!-- /.image__block -->
  </div>
  <!-- /.image -->


  <div class="image">
    <figure class="figure">
      <h3 class="ttl is-4 is-line-left is-line-orange">ttl-has-is-line-leftタイトル</h3>
      <img alt="平成23年度の売り上げ予想(テキスト版)" src="assets/img/ph_sample.png" />
      <figcaption>キャプションあれば</figcaption>
    </figure>
  </div>
  <!-- /.image -->


  <!-- ボックス -->
  <div class="box is-bg-lt-gray is-line-gray">
    <div class="box__block row">
      <div class="box__item col l2">

        <div class="box-fl-c">
          <h2 class="ttl is-3 is-key">目次</h2>
        </div>
        <!-- /.box-fl-cc -->

      </div>
      <!-- /.box__item -->
      <div class="box__item col l10">
        <ul class="ul-list">
          <li class="ul-list__item txt is-4">解熱、鎮痛、抗炎症作用のほか、ジヒドロコデインリン酸塩とdl-メチルエフェドリン塩酸塩の配合により、鎮咳、去痰にもすぐれた作用を示します。</li>
          <li class="ul-list__item txt is-4">甘草の甘味により服用しやすく、また、携帯にも便利な分包顆粒です。</li>
        </ul>
      </div>
      <!-- /.box__item -->

    </div>
    <!-- /.box__block -->
  </div>
  <!-- /.box -->


</body>

</html>