<!DOCTYPE html>
<html lang="ja">

<head>

  <title>ヒーロー</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css" />

</head>

<body class="sample">

  <div class="hero hero is-has-cover hero is-fix-3 bg-ph--building">
    <div class="container is-w-2">
      <div class="ttl-group">
        <h1 class="ttl is-1 is-white">創薬理念</h1>
        <p class="txt is-3 is-white">
          創薬理念についてご紹介します。
        </p>
      </div>
    </div>
  </div>

  <br>

  <div class="hero hero is-fix-3 bg-ph--hmenu">
    <div class="container is-w-2">
      <div class="container__item is-vh-center">
        <img src="assets/img/product_dikinin.png" alt="">
      </div>
    </div>
  </div>

  <br>


  <div class="hero is-p-less" style="background:url('assets/img/se_diki_bg.png');">
    <div class="container is-w-2">
      <div class="image">
        <img src="assets/img/se_diki.png" alt="" class="thumb">
      </div>
    </div>
  </div>

  <br>


  <div class="hero hero is-bg-repeat hero is-fix-3 bg-ph--hmenu-archive">
    <div class="container is-w-2">

      <div class="container__item is-vh-center">
        <h1 class=" is-1">旬の食材「<span class="txt--orange">ニンジン</span>」を使ったレシピ</h1>
      </div>

    </div>
  </div>

  <br>

  <div class="hero hero is-fix-3 bg-ph--building">
    <div class="container is-w-2">

      <div class="container__block row">

        <div class="container__item is-fl-less col l8">
          <div class="ttl-group">
            <h1 class="ttl is-1 is-white">創薬理念</h1>
            <p class="txt is-3 is-white">
              創薬理念についてご紹介します。
            </p>
          </div>
        </div>
        <div class="container__item col l4 is-vh-center">
          <img src="assets/img/product_dikinin.png" alt="" class="thumb">
        </div>

      </div><!-- /.hero__block -->

    </div>
  </div>

  <br>

  <div class="hero bg-ph--building">
    <div class="container is-w-2">

      <h1 class="ttl is-1 is-white">効きめを創り、<br>効きめで奉仕する</h1>
      <p class="txt is-3 is-white">
        全薬工業は1950年7月の創業以来、「模倣せず、一歩前進した医薬品を創生し、効きめを創り、効きめで奉仕する」の創薬理念のもと、独創的な医薬品の開発に不断の努力を重ねてまいりました。
      </p>

      <div class="btn-group">
        <div class="btn-group__block sep-row is-gap-3">

          <div class="btn-group__item col l3 s1">
            <a href="#" class="btn is-square btn-has-child--fix is-line-white is-center">

              <div class="btn-container">
                <div class="btn-container__title">あああタイトル</div>
                <div class="btn-container__text">テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト</div>
                <div class="btn is-child is-round is-bg-white is-center">
                  子ボタン<span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
                </div>
              </div><!-- /.btn-container -->

            </a>
          </div><!-- /.btn-group__item -->

          <div class="btn-group__item col l3 s1">
            <a href="#" class="btn is-square btn-has-child--fix is-line-white is-center">
              <div class="btn-container">
                <div class="btn-container__title">あああタイトル</div>
                <div class="btn-container__text">テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト</div>
                <div class="btn is-child is-round is-bg-white is-center">
                  子ボタン<span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
                </div>
              </div><!-- /.btn__container -->
            </a>
          </div><!-- /.btn-group__item -->

          <div class="btn-group__item col l3 s1">
            <a href="#" class="btn is-square btn-has-child--fix is-line-white is-center">
              <div class="btn-container">
                <div class="btn-container__title">あああタイトル</div>
                <div class="btn-container__text">テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト</div>
                <div class="btn is-child is-round is-bg-white is-center">
                  子ボタン<span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
                </div>
              </div><!-- /.btn__container -->
            </a>
          </div><!-- /.btn-group__item -->

        </div><!-- /.btn-group__block -->
      </div><!-- /.btn-group -->


    </div><!-- /.container -->
  </div><!-- /.hero -->

  <br>

  <div class="hero hero is-fix-2 bg-ph--building">
    <div class="container is-w-3">
      <div class="container__item is-vh-center">

        <a href="#" class="btn btn-has-child is-center">
          <div class="btn-container">
            <div class="btn-container__title is-white">タイトル</div>
            <div class="btn-container__text is-white">テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト</div>
            <div class="btn is-child is-round is-bg-white is-center">
              子ボタン<span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
            </div>
          </div><!-- /.btn-container -->
        </a>

      </div>
    </div>
  </div>

  <br>

  <div class="hero bg-ph--building">
    <div class="container is-w-2">

      <div class="btn-group sep-row is-gap-3">

        <div class="btn-group__item col l3 s1">
          <a href="#" class="btn is-square btn-has-child--fix is-line-white is-center">

            <div class="btn-container">
              <div class="btn-container__title">あああタイトル</div>
              <div class="btn-container__text">テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト</div>
              <div class="btn is-child is-round is-bg-white is-center">
                子ボタン<span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
              </div>
            </div><!-- /.btn-container -->

          </a>
        </div><!-- /.btn-group__item -->

        <div class="btn-group__item col l3 s1">
          <a href="#" class="btn is-square btn-has-child--fix is-line-white is-center">
            <div class="btn-container">
              <div class="btn-container__title">あああタイトル</div>
              <div class="btn-container__text">テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト</div>
              <div class="btn is-child is-round is-bg-white is-center">
                子ボタン<span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
              </div>
            </div><!-- /.btn__container -->
          </a>
        </div><!-- /.btn-group__item -->

        <div class="btn-group__item col l3 s1">
          <a href="#" class="btn is-square btn-has-child--fix is-line-white is-center">
            <div class="btn-container">
              <div class="btn-container__title">あああタイトル</div>
              <div class="btn-container__text">テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト<br>テキスト</div>
              <div class="btn is-child is-round is-bg-white is-center">
                子ボタン<span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
              </div>
            </div><!-- /.btn__container -->
          </a>
        </div><!-- /.btn-group__item -->

      </div><!-- /.btn-group -->

    </div><!-- /.container -->
  </div><!-- /.hero -->

  <br>

  <div class="hero bg-ph--research">
    <div class="container is-w-2">

      <h1 class="ttl is-1">事業領域</h1>
      <p class="txt is-3">
        どこにもない効きめを世の中へ全薬工業の成長そのものであり、成長のエネルギーにもなっているのが、これまでに生まれた製品たちです。
      </p>

      <div class="btn-group sep-row is-gap-3">

        <div class="btn-group__item col l4 s2">
          <a href="#" class="btn is-square is-bg-white is-line-gray is-center">
            <div class="btn-container">
              <div class="btn-container__image btn__container__image-thumb">
                <img src="../../assets/img/thumb_sample.png">
              </div>
              <div class="btn-container__title">タイトル<span class="icon icon-arrow_has_bg is-right"></span></div>
            </div><!-- /.btn-container -->
          </a>
        </div><!-- /.btn-group__item -->

        <div class="btn-group__item col l4 s2">
          <a href="#" class="btn is-square is-bg-white is-line-gray is-center">
            <div class="btn-container">
              <div class="btn-container__image btn__container__image-thumb">
                <img src="../../assets/img/thumb_sample.png">
              </div>
              <div class="btn-container__title">タイトル<span class="icon icon-arrow_has_bg is-right"></span></div>
            </div><!-- /.btn-container -->
          </a>
        </div><!-- /.btn-group__item -->

        <div class="btn-group__item col l4 s2">
          <a href="#" class="btn is-square is-bg-white is-line-gray is-center">
            <div class="btn-container">
              <div class="btn-container__image btn__container__image-thumb">
                <img src="../../assets/img/thumb_sample.png">
              </div>
              <div class="btn-container__title">タイトル<span class="icon icon-arrow_has_bg is-right"></span></div>
            </div><!-- /.btn-container -->
          </a>
        </div><!-- /.btn-group__item -->

        <div class="btn-group__item col l4 s2">
          <a href="#" class="btn is-square is-bg-white is-line-gray is-center">
            <div class="btn-container">
              <div class="btn-container__image btn__container__image-thumb">
                <img src="../../assets/img/thumb_sample.png">
              </div>
              <div class="btn-container__title">タイトル<span class="icon icon-arrow_has_bg is-right"></span></div>
            </div><!-- /.btn-container -->
          </a>
        </div><!-- /.btn-group__item -->

      </div><!-- /.container -->
    </div><!-- /.hero -->



</body>

</html>