<!DOCTYPE html>
<html lang="ja">

<head>

  <title>全薬工業について</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="####" />
  <meta name="description" content="####" />
  <meta content="全薬工業株式会社" property="og:title" />
  <meta content="article" property="og:type" />
  <meta content="####" property="og:url" />
  <meta content="####" property="og:image" />
  <meta content="####" property="og:description" />
  <meta content="全薬工業株式会社" property="og:site_name" />


  <link rel="alternate" type="application/atom+xml" title="全薬工業株式会社 Atom" href="https://www.zenyaku.co.jp/atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="全薬工業株式会社 RSS 2.0" href="https://www.zenyaku.co.jp/index.xml" />
  <link rel="shortcut icon" href="####" />

  <link rel="stylesheet" href="assets/css/style.css" />

</head>

<body>

  <% include _header %>

  <section class="section">

    <div class="hero is-has-cover is-fix-3" style="background-image:url('http://dev-www.zenyaku.co.jp/product/assets/img/ph_room.jpg');">
      <div class="container is-w-2">
        <div class="container__block row">

          <div class="container__item is-fl-less col l8">
            <div class="ttl-group">
              <h1 class="ttl is-2 is-white">CM集</h1>
              <p class="txt is-3 is-white">全薬工業製品のCMをご紹介します。</p>
            </div>
          </div>

        </div><!-- /.container__block -->
      </div><!-- /.container -->

    </div><!-- /.hero -->
  </section>


  <div id="cmCover" class="cm-modal">
    <div id="CMWrapper" class="cm-modal__wrapp">
      <div class="cm-modal__content">
        <div class="cm-modal__bt-close"><img src="/assets/img/bt-movie-close.png" /></div>
        <div class="cm-modal__video"></div>
      </div>
    </div>
    <div class="cm-modal__bg"></div>
  </div>

  <section class="section is-w-2">
    <div class="container">

      <h2 class="ttl is-2">テレビCM</h2>
      <p class="txt is-4 is-gray">※掲載されている映像・写真・音源等の複製・無断転載・再配布などはお断りいたします。</p>



      <div class="media-list">

        <h3 class="ttl is-2"><img src="http://dev-www.zenyaku.co.jp/product/assets_c/2018/08/logo_dickinin-thumb-204x36-669.png"
            class="thumb is-logo-2"></h3>

        <div class="media-list__block sep-row is-gap-2 is-line-b">


          <div class="media-list__item col l3 s1">
            <div class="media is-cm">
              <div class="image" data-video-src="http://dev-www.zenyaku.co.jp/product/assets/video/d_f_0921.mp4"
                data-video-poster="http://dev-www.zenyaku.co.jp/product/assets_c/2018/09/d_f-thumb-313x176-1454.jpg">
                cm
                <!-- <video src="http://dev-www.zenyaku.co.jp/product/assets/video/d_f_0921.mp4" onclick="this.play();"
                  controls="" controlslist="nodownload" poster="http://dev-www.zenyaku.co.jp/product/assets_c/2018/09/d_f-thumb-313x176-1454.jpg"
                  class="thumb is-video"></video> -->
              </div>
              <div class="ttl is-4 is-bold">ジキニンファースト顆粒N「効くはもちろん」篇</div>

            </div><!-- /.media -->
          </div><!-- /.media-list__item -->



        </div><!-- /.media-list__block -->
      </div><!-- /.media-list -->



      <div class="media-list">

        <div class="media-list__block sep-row is-gap-2 is-line-b">

          <div class="media-list__item col l3 s1">
            <div class="media is-cm">
              <div class="image" data-video-src="https://www.zenyaku.co.jp/product/assets/video/arouge_20180903.mp4"
                data-video-poster="https://www.zenyaku.co.jp/product/assets_c/2018/09/arouge_1809-thumb-313x176-1453.jpg">
              </div>
              <div class="ttl is-4 is-bold">アルージェ「何とかしたい敏感肌」篇</div>
            </div><!-- /.media -->
          </div><!-- /.media-list__item -->



          <div class="media-list__item col l3 s1">
            <div class="media is-cm">
              <div class="image" data-video-src="https://www.zenyaku.co.jp/product/assets/video/arouge/arouge_15.mp4"
                data-video-poster="https://www.zenyaku.co.jp/product/assets_c/2018/09/arouge_1708-thumb-313x176-1452.jpg">
              </div>
              <div class="ttl is-4 is-bold">アルージェ「小さな驚き」篇</div>
              <div class="btn-group is-center">


              </div><!-- /.btn-group -->
            </div><!-- /.media -->
          </div><!-- /.media-list__item -->



        </div><!-- /.media-list__block -->
      </div>


    </div><!-- /.container -->
  </section><!-- /.section -->

  <aside class="section">
    <div class="container is-w-4">

      <div class="btn-group">
        <div class="btn-group__block">

          <a href="../" class="btn is-square is-bg-dk-gray is-center">
            <span class="icon icon-arrow_has_bg_re is-left-fix"></span>前のページに戻る
          </a>

        </div>
        <div class="btn-group__block">
          <a href="/product/" class="btn is-square is-bg-dk-gray is-center">
            <span class="icon icon-arrow_has_bg_re is-left-fix"></span>
            「製品のご案内」へ
          </a>
        </div><!-- /.btn-group__block -->
      </div><!-- /.btn-group -->

    </div><!-- /.container -->
  </aside><!-- /.section -->


  <% include _footer %>
  <script src="assets/js/default.js"></script>


</body>

</html>