<!DOCTYPE html>
<html lang="ja">

<head>

  <title>全薬工業について</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="####" />
  <meta name="description" content="####" />
  <meta content="全薬工業株式会社" property="og:title" />
  <meta content="article" property="og:type" />
  <meta content="####" property="og:url" />
  <meta content="####" property="og:image" />
  <meta content="####" property="og:description" />
  <meta content="全薬工業株式会社" property="og:site_name" />


  <link rel="alternate" type="application/atom+xml" title="全薬工業株式会社 Atom" href="https://www.zenyaku.co.jp/atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="全薬工業株式会社 RSS 2.0" href="https://www.zenyaku.co.jp/index.xml" />
  <link rel="shortcut icon" href="####" />

  <link rel="stylesheet" href="assets/css/style.css" />

</head>

<body>

  <% include _header %>


  <div class="pager">
    <div class="pager__block"><button class="btn btn-outline btn-prev" disabled="disabled"><svg width="8.5" height="18"
          viewBox="0 0 8.5 13.8" fill-rule="evenodd" class="icon">
          <title>前</title>
          <path d="M12,8,6,14l1.41,1.41L12,10.83l4.59,4.58L18,14Z" transform="scale(1.15) translate(-8 18) rotate(-90)"></path>
        </svg></button></div>
    <div class="pager__block">
      <div class="page-counter"><b>1</b> / 8</div>
    </div>
    <div class="pager__block"><button class="btn btn-outline btn-next"><svg width="8.5" height="18" viewBox="0 0 8.5 13.8"
          fill-rule="evenodd" class="icon">
          <title>後</title>
          <path d="M12,8,6,14l1.41,1.41L12,10.83l4.59,4.58L18,14Z" transform="scale(1.15) translate(16 -6) rotate(90)"></path>
        </svg></button></div>
  </div>


  <section class="section">
    <div class="section__content">

      <div class="hero" style="background-image:url(assets/img/ph_corp_office_headoffice.jpg);">
        <div class="hero__container is-w-2">
          <div class="hero__title">
            <h1 class=" is-1 is-white">効きめを創り、
              <br>効きめで奉仕する</h1>
          </div>
          <div class="hero__txt">
            <p class="txt is-3 is-white">
              全薬工業は1950年7月の創業以来、「模倣せず、一歩前進した医薬品を創生し、効きめを創り、効きめで奉仕する」の創薬理念のもと、独創的な医薬品の開発に不断の努力を重ねてまいりました。
            </p>
          </div>
          <div class="hero__block">

            <div class="btn-group sep-row is-gap-3">

              <% for(var i=0; i<3; i++){ %>
              <div class="btn-group__item col l3 s1">
                <a href="#" class="btn is-square is-line-white">
                  <div class="btn-container is-parent">
                    <div class="ttl is-4 is-center">あああタイトル</div>
                    <p class="txt is-4 is-center">テキスト
                      <br>テキスト
                      <br>テキスト
                    </p>
                    <div class="btn is-child is-round is-bg-white is-center">
                      子ボタン
                      <span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
                    </div>
                  </div>
                  <!-- /.btn__container -->
                </a>
              </div>
              <% } %>

            </div><!-- /.btn-group -->

          </div>
          <!-- /.hero__block -->
        </div>
        <!-- /.hero__container -->
      </div>
      <!-- /.hero -->

    </div>
    <!-- /.section__content -->
  </section>
  <!-- /.section -->


  <section class="section is-mb-less">

    <div class="hero bg-ph--research">
      <div class="container is-w-2">

        <h1 class="ttl is-1">事業領域</h1>
        <p class="txt is-3">
          どこにもない効きめを世の中へ全薬工業の成長そのものであり、成長のエネルギーにもなっているのが、これまでに生まれた製品たちです。
        </p>

        <div class="btn-group sep-row is-gap-3">

          <% for(var i=0; i<4; i++){ %>
          <div class="btn-group__item col l4 s2">
            <a href="#" class="btn is-square is-bg-white is-line-gray is-center">
              <div class="btn-container">
                <div class="btn-container__block">
                  <div class="image">
                    <img src="../../assets/img/thumb_sample.png">
                  </div>
                </div>
                <div class="btn-container__block">
                  <div class="ttl is-4">タイトル<span class="icon icon-arrow_has_bg is-right"></span></div>
                </div>
              </div><!-- /.btn-container -->
            </a>
          </div><!-- /.btn-group__item -->
          <% } %>
        </div><!-- /.container -->
      </div><!-- /.hero -->


  </section>
  <!-- /.section -->

  <!-- 事業領域 -->
  <section class="section is-bg-corp-gray">
    <div class="container is-w-2">

      <div class="box is-line-white">
        <div class="box__block">
          <h1 class="ttl is-3">事業部門</h1>
          <p class="txt is-3">
            どこにもない効きめを世の中へ全薬工業の成長そのものであり、成長のエネルギーにもなっているのが、これまでに生まれた製品たちです。
          </p>
        </div>
        <div class="box__block">
          <div class="btn-group sep-row is-gap-2">
            <div class="btn-group__item col l3">
              <a href="#" class="btn is-round is-bg-white is-center">
                シリーズ製品へ
                <span class="icon icon-arrow is-right-fix"></span>
              </a>
            </div>
            <!-- /.btn-group__item -->
            <div class="btn-group__item col l3">
              <a href="#" class="btn is-round is-bg-white is-center">
                シリーズ製品へ
                <span class="icon icon-arrow is-right-fix"></span>
              </a>
            </div>
            <!-- /.btn-group__item -->
            <div class="btn-group__item col l3">
              <a href="#" class="btn is-round is-bg-white is-center">
                シリーズ製品へ
                <span class="icon icon-arrow is-right-fix"></span>
              </a>
            </div>
            <!-- /.btn-group__item -->
            <div class="btn-group__item col l3">
              <a href="#" class="btn is-round is-bg-white is-center">
                シリーズ製品へ
                <span class="icon icon-arrow is-right-fix"></span>
              </a>
            </div>
            <!-- /.btn-group__item -->
            <div class="btn-group__item col l3">
              <a href="#" class="btn is-round is-bg-white is-center">
                シリーズ製品へ
                <span class="icon icon-arrow is-right-fix"></span>
              </a>
            </div>
            <!-- /.btn-group__item -->

          </div>
          <!-- /.btn-group -->
        </div>
      </div>

    </div>
    <!-- /.container -->
  </section>
  <!-- /.section -->

  <!-- 採用情報 -->
  <section class="section is-w-2">

    <div class="hero hero--fix-mb bg-ph--building">
      <div class="hero__container is-w-4">
        <div class="hero__block hero__block--fix">

          <a href="#" class="btn is-center">
            <div class="btn-container is-parent">
              <div class="btn-container__title is-white">
                <div class="ttl is-2">未来へ、
                  <br>成長をつなげよう</div>
              </div>
              <div class="btn is-child is-round is-bg-white is-center">
                子ボタン
                <span class="icon icon-arrow is-right-fix is-key"></span>
              </div>
            </div>
            <!-- /.btn__container -->
          </a>

        </div>
      </div>
    </div>

  </section>
  <!-- /.section -->

  <!-- 会社の取り組み -->
  <section class="section">
    <div class="container is-w-2">

      <h2 class="ttl is-3">会社の取り組み</h2>

      <div class="media-list sep-row is-gap-3">

        <% for(var i=0; i<3; i++){ %>

        <div class="media-list__item col l3 s1">
          <a href="#" class="media media--vertical is-line-white">

            <div class="image">
              <img src="../assets/img/media_sample.png">
            </div>

            <div class="media__content">
              <div class="ttl is-4  is-has-icon-indent">
                <span class="icon icon-arrow_has_bg is-left-fix is-key"></span>
                タイトルaaa <br> aaa
              </div>
            </div>
          </a><!-- /.media -->
        </div><!-- /.media-list__item -->

        <% } %>

      </div>
      <!-- /.media-list -->

    </div>
    <!-- /.container -->
  </section>
  <!-- /.section -->


  <!-- 事業所のご案内 -->
  <section class="section">

    <div class="hero hero--fix-mb bg-ph--building">
      <div class="hero__container is-w-3">
        <div class="hero__block hero__block--fix">

          <a href="#" class="btn is-center">
            <div class="btn-container is-parent">
              <div class="ttl is-3 is-white">事業所のご案内</div>
              <p class="txt is-4 is-white">テキスト
                <br>テキスト
                <br>テキスト
                <br>テキスト
                <br>テキスト
                <br>テキスト
              </p>
              <div class="btn is-child is-round is-bg-white is-center is-w-4">
                子ボタン
                <span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
              </div>
            </div>
            <!-- /.btn__container -->
          </a>

        </div>
      </div>
    </div>

  </section>
  <!-- /.section -->



  <section class="section is-w-3">
    <div class="container">

      <p class="txt is-3">
        新ジキニン顆粒は、甘草（カンゾウ）エキス、
        <a href="#">解熱鎮痛剤</a> アセトアミノフェン、鎮咳剤ジヒドロコデインリン酸塩などを配合した効き目のすぐれた総合感冒薬です。
      </p>

      <ul class="ul-list">
        <li class="ul-list__item txt is-3">解熱、鎮痛、抗炎症作用のほか、ジヒドロコデインリン酸塩とdl-メチルエフェドリン塩酸塩の配合により、鎮咳、去痰にもすぐれた作用を示します。</li>
        <li class="ul-list__item txt is-3">甘草の甘味により服用しやすく、また、携帯にも便利な分包顆粒です。</li>
      </ul>

    </div>
    <!-- /.container -->
  </section>
  <!-- /.section -->

  <section class="section is-w-3">
    <div class="container">

      <h2 class="ttl is-3 is-key">効能効果</h2>

      <p class="txt is-3">
        かぜの諸症状（せき、発熱、頭痛、鼻水、鼻づまり、くしゃみ、のどの痛み、たん、悪寒(発熱によるさむけ)、関節の痛み、筋肉の痛み）の緩和。
      </p>

    </div>
    <!-- /.container -->
  </section>
  <!-- /.section -->

  <section class="section is-w-3">
    <div class="section__content">

      <h2 class="ttl is-3 is-key">用法・用量</h2>

      <div class="section__block row">
        <div class="section__item col l8">
          <p class="txt is-3">
            15才以上1回1包、12才以上15才未満1回2/3包
            <br> １日３回食後なるべく30分以内に服用してください。
          </p>
        </div>
        <div class="section__item col l4">
          <p class="txt is-3">
            15才以上1回1包、12才以上15才未満1回2/3包
            <br> １日３回食後なるべく30分以内に服用してください。
          </p>
        </div>
      </div>

    </div>
    <!-- /.section__content -->
  </section>
  <!-- /.section -->

  <section class="section is-w-3">
    <div class="section__content">

      <h2 class="ttl is-3 is-key">容量・価格</h2>

      <table class="table">
        <tbody>
          <tr>
            <th>容量</th>
            <th>希望小売価格（税抜）</th>
          </tr>
          <tr>
            <td>10包</td>
            <td>0,000円</td>
          </tr>
          <tr>
            <td>16包</td>
            <td>0,000円</td>
          </tr>
          <tr>
            <td>22包</td>
            <td>0,000円</td>
          </tr>
        </tbody>
      </table>

    </div>
    <!-- /.section__content -->
  </section>
  <!-- /.section -->


  <section class="section is-w-3">
    <div class="section__content">

      <h2 class="ttl is-3 is-key">関連CM</h2>

      <div class="section__block row">

        <div class="section__item col l6">
          <div class="media media-type--vertical">
            <a href="#">
              <div class="media__block">
                <div class="media__image">
                  <img src="../assets/img/media_sample.png" class="thumb-media">
                </div>
              </div>
              <div class="media__block media__block--space">
                <div class="media__title">タイトル</div>
                <div class="media__text">テキスト</div>
                <div class="media__option">
                  <span class="media__date">2017/5/5</span> |
                  <span class="media__category">カテゴリ</span>
                </div>
              </div>
            </a>
          </div>
          <!-- /.media -->
        </div>
        <!-- /.section__item -->

        <div class="section__item col l6">
          <div class="media media-type--vertical">
            <a href="#">
              <div class="media__block">
                <div class="media__image">
                  <img src="../assets/img/media_sample.png" class="thumb-media">
                </div>
              </div>
              <div class="media__block media__block--space">
                <div class="media__title">タイトル</div>
                <div class="media__text">テキスト</div>
                <div class="media__option">
                  <span class="media__date">2017/5/5</span> |
                  <span class="media__category">カテゴリ</span>
                </div>
              </div>
            </a>
          </div>
          <!-- /.media -->
        </div>
        <!-- /.section__item -->

      </div>
      <!-- /.section__block -->

    </div>
    <!-- /.section__content -->
  </section>
  <!-- /.section -->


  <section class="section is-w-3">
    <div class="section__content">

      <h2 class="ttl is-3 is-key">関連製品一覧</h2>

      <div class="section__block row">

        <div class="section__item col l3 s6">
          <a href="#" class="btn is-square is-line-gray">
            <div class="mark-self--sm">
              <img src="../../assets/img/mark_self.png">
            </div>
            <div class="btn-container">
              <div class="btn-container__block is-center">
                <div class="btn-container__image-thumb">
                  <img src="../../assets/img/product-name.png">
                </div>
              </div>
              <!-- /.btn__container-block -->
              <div class="btn-container__block">
                <div class="btn-container__title">タイトル</div>
                <div class="btn-container__text is-mb-less">様々なかぜの諸症状の緩和に、優れた効き目を発揮</div>
              </div>
              <!-- /.btn__container__block -->
            </div>
          </a>
        </div>
        <!-- /.section__item -->

        <div class="section__item col l3 s6">
          <a href="#" class="btn is-square is-line-gray">
            <div class="btn-container">
              <div class="btn-container__block is-center">
                <div class="btn-container__image-thumb">
                  <img src="../../assets/img/product-name.png">
                </div>
              </div>
              <!-- /.btn__container-block -->
              <div class="btn-container__block">
                <div class="btn-container__title">タイトル</div>
                <div class="btn-container__text is-mb-less">様々なかぜの諸症状の緩和に、優れた効き目を発揮</div>
              </div>
              <!-- /.btn__container__block -->
            </div>
          </a>
        </div>
        <!-- /.section__item -->

        <div class="section__item col l3 s6">
          <a href="#" class="btn is-square is-line-gray">
            <div class="btn-container">
              <div class="btn-container__block is-center">
                <div class="btn-container__image-thumb">
                  <img src="../../assets/img/product-name.png">
                </div>
              </div>
              <!-- /.btn__container-block -->
              <div class="btn-container__block">
                <div class="btn-container__title">タイトル</div>
                <div class="btn-container__text is-mb-less">様々なかぜの諸症状の緩和に、優れた効き目を発揮</div>
              </div>
              <!-- /.btn__container__block -->
            </div>
          </a>
        </div>
        <!-- /.section__item -->

        <div class="section__item col l3 s6">
          <a href="#" class="btn is-square is-line-gray">
            <div class="btn-container">
              <div class="btn-container__block is-center">
                <div class="btn-container__image-thumb">
                  <img src="../../assets/img/product-name.png">
                </div>
              </div>
              <!-- /.btn__container-block -->
              <div class="btn-container__block">
                <div class="btn-container__title">タイトル</div>
                <div class="btn-container__text is-mb-less">様々なかぜの諸症状の緩和に、優れた効き目を発揮</div>
              </div>
              <!-- /.btn__container__block -->
            </div>
          </a>
        </div>
        <!-- /.section__item -->

      </div>
      <!-- /.section__block -->

    </div>
    <!-- /.section__content -->
  </section>
  <!-- /.section -->


  <section class="section">
    <div class="section__content is-w-3">
      <div class="ttl ttl-has-is-line-over">
        <span>関連ワード</span>
      </div>
      <div class="tags btn-group">
        <a href="#" class="btn is-round is-inline is-bg-key is-center">テストaa</a>
        <a href="#" class="btn is-round is-inline is-bg-key is-center">テストaa</a>
        <a href="#" class="btn is-round is-inline is-bg-key is-center">ががががが</a>
        <a href="#" class="btn is-round is-inline is-bg-key is-center">テストaa</a>
      </div>
    </div>
    <!-- /.section__content -->
  </section>
  <!-- /.section -->


  <section class="section is-bg-lt-gray">
    <div class="section__content is-w-3">

      <h2 class="ttl is-3 is-key">おすすめ記事</h2>

      <div class="section__block row">
        <div class="section__item col l3 s6">
          <div class="media media-type--vertical">
            <a href="#">
              <div class="media__block">
                <div class="media__image">
                  <img src="../assets/img/media_sample.png" class="thumb-media">
                </div>
              </div>
              <div class="media__block media__block--space">
                <div class="media__title">タイトル</div>
                <div class="media__text">テキスト</div>
                <div class="media__option">
                  <span class="media__date">2017/5/5</span> |
                  <span class="media__category">カテゴリ</span>
                </div>
              </div>
            </a>
          </div>
          <!-- /.media -->
        </div>
        <!-- /.section__item -->

        <div class="section__item col l3 s6">
          <div class="media media-type--vertical">
            <a href="#">
              <div class="media__block">
                <div class="media__image">
                  <img src="../assets/img/media_sample.png" class="thumb-media">
                </div>
              </div>
              <div class="media__block media__block--space">
                <div class="media__title">タイトル</div>
                <div class="media__text">テキスト</div>
                <div class="media__option">
                  <span class="media__date">2017/5/5</span> |
                  <span class="media__category">カテゴリ</span>
                </div>
              </div>
            </a>
          </div>
          <!-- /.media -->
        </div>
        <!-- /.section__item -->

        <div class="section__item col l3 s6">
          <div class="media media-type--vertical">
            <a href="#">
              <div class="media__block">
                <div class="media__image">
                  <img src="../assets/img/media_sample.png" class="thumb-media">
                </div>
              </div>
              <div class="media__block media__block--space">
                <div class="media__title">タイトル</div>
                <div class="media__text">テキスト</div>
                <div class="media__option">
                  <span class="media__date">2017/5/5</span> |
                  <span class="media__category">カテゴリ</span>
                </div>
              </div>
            </a>
          </div>
          <!-- /.media -->
        </div>
        <!-- /.section__item -->

        <div class="section__item col l3 s6">
          <div class="media media-type--vertical">
            <a href="#">
              <div class="media__block">
                <div class="media__image">
                  <img src="../assets/img/media_sample.png" class="thumb-media">
                </div>
              </div>
              <div class="media__block media__block--space">
                <div class="media__title">タイトルタイトル
                  <br>タイトル </div>
                <div class="media__text">テキスト</div>
                <div class="media__option">
                  <span class="media__date">2017/5/5</span> |
                  <span class="media__category">カテゴリ</span>
                </div>
              </div>
            </a>
          </div>
          <!-- /.media -->
        </div>
        <!-- /.section__item -->

      </div>
      <!-- /section__block -->

    </div>
    <!-- /.section__content -->
  </section>
  <!-- /.section -->



  <section class="section is-bg-base">
    <div class="section__content is-w-1">

      <div class="product-category is-bg-white is-line-gray">
        <div class="product-category__group row">

          <div class="product-category__block col l2">
            <div class="product-category__ttl">
              <span class="icon icon-bui is-1"></span>
              <h2 class="ttl is-3 is-key">かぜの諸症状・熱・痛み</h2>
            </div>
          </div>
          <div class="product-category__block col l10">

            <div class="product-category__list row">
              <div class="product-category__list__item col l4 s12">
                <a href="#" class="btn is-txt is-line-b">テキストのみ
                  <span class="icon icon-arrow is-right-fix is-key"></span>
                </a>
              </div>
              <div class="product-category__list__item col l4 s12">
                <a href="#" class="btn is-txt is-line-b">テキストのみ
                  <span class="icon icon-arrow is-right-fix is-key"></span>
                </a>
              </div>
              <div class="product-category__list__item col l4 s12">
                <a href="#" class="btn is-txt is-line-b">テキストのみ
                  <span class="icon icon-arrow is-right-fix is-key"></span>
                </a>
              </div>
              <div class="product-category__list__item col l4 s12">
                <a href="#" class="btn is-txt is-line-b">テキストのみ
                  <span class="icon icon-arrow is-right-fix is-key"></span>
                </a>
              </div>
              <div class="product-category__list__item col l4 s12">
                <a href="#" class="btn is-txt is-line-b">テキストのみ
                  <span class="icon icon-arrow is-right-fix is-key"></span>
                </a>
              </div>
            </div>

          </div>
        </div>
        <!-- /.product-category__group -->

      </div>
      <!-- /.product-category -->



    </div>
    <!-- /.section__content -->
  </section>

  <div class="box is-bg-white is-line-gray">
    <div class="box__block row">
      <div class="box__item col l3">

        <div class="box-fl-c">
          <div class="box--fl-c__item is-center">
            <span class="icon icon-bui is-1"></span>
            <h2 class="ttl is-3 is-key">かぜの諸症状・熱・痛み</h2>
          </div>
        </div>
        <!-- /.box-fl-cc -->

      </div>
      <!-- /.box__item -->
      <div class="box__item col l9">




      </div>
      <!-- /.box__item -->

    </div>
    <!-- /.box__block -->
  </div>
  <!-- /.box -->


  <% include _footer %>
  <script src="assets/js/default.js"></script>


  <div class="btn-group sep-row">
    <div class="btn-group__item col l9 s5">
      <div id="btn-all" class="btn is-round is-line-gray is-inline is-bg-white">全て</div>
      <div id="btn-press_release" class="btn is-round is-line-gray is-inline is-bg-white">プレスリリース</div>
      <div id="btn-product" class="btn is-round is-line-gray is-inline is-bg-white">製品情報</div>
      <div id="btn-health" class="btn is-round is-line-gray is-inline is-bg-white">健康情報</div>
      <div id="btn-other" class="btn is-round is-line-gray is-inline is-bg-white">その他</div>
    </div>
  </div><!-- /.btn-group -->


</body>

</html>