<!DOCTYPE html>
<html lang="ja">

<head>

  <title>製品のご案内：全薬工業株式会社</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="####" />
  <meta name="description" content="####" />
  <meta content="全薬工業株式会社" property="og:title" />
  <meta content="article" property="og:type" />
  <meta content="####" property="og:url" />
  <meta content="####" property="og:image" />
  <meta content="####" property="og:description" />
  <meta content="全薬工業株式会社" property="og:site_name" />


  <link rel="alternate" type="application/atom+xml" title="全薬工業株式会社 Atom" href="https://www.zenyaku.co.jp/atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="全薬工業株式会社 RSS 2.0" href="https://www.zenyaku.co.jp/index.xml" />
  <link rel="shortcut icon" href="####" />

  <link rel="stylesheet" href="assets/css/style.css" />

</head>

<body>

  <% include _header %>

  <section class="carousel is-k1ban">

    <div class="swiper-container">
      <div class="swiper-wrapper">








        <div class="swiper-slide">
          <div class="carousel__item">
            <a href="https://www.zenyaku.co.jp/k-1ban/check/hiro/">
              <img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/09/ill_check_hiro-thumb-800x450-1468.png" alt="">
              <div class="carousel__ttl-group">

                <span class="txt is-4 is-bold">ヘルスチェック</span>

                <h3 class="ttl is-3">疲労度蓄積チェック</h3>
              </div>
            </a>
          </div><!-- /.carousel__item -->
        </div>





        <div class="swiper-slide">
          <div class="carousel__item">
            <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/fukeshirazu/1809.html">
              <img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/09/fukeshirazu_1809_01-thumb-800x450-1400.jpg"
                alt="">
              <div class="carousel__ttl-group">

                <span class="txt is-4 is-bold">老けしらずさんの健康レシピ</span>

                <h3 class="ttl is-3">第6回4条 賢くカロリーを控えて、健康的に美しくダイエットしましょう。 ＜和食編＞</h3>
              </div>
            </a>
          </div><!-- /.carousel__item -->
        </div>





        <div class="swiper-slide">
          <div class="carousel__item">
            <a href="https://www.zenyaku.co.jp/k-1ban/uranai/">
              <img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/09/ph_uranai_main-thumb-800x450-1477.png" alt="">
              <div class="carousel__ttl-group">

                <span class="txt is-4 is-bold">今月の星座占い</span>

                <h3 class="ttl is-3">9月の運勢をチェック（9/1〜9/30）</h3>
              </div>
            </a>
          </div><!-- /.carousel__item -->
        </div>




      </div><!-- /.swiper-wrapper -->
      <div class="swiper-pagination"></div>
    </div><!-- /.swiper-container -->

  </section><!-- /.carousel-k1ban -->

  <link rel="stylesheet" href="/assets/css/swiper.min.css">
  <script src="/assets/js/lib/swiper.min.js"></script>
  <script>
    var mySwiper = new Swiper('.swiper-container', {
      loop: true,
      slidesPerView: 3,
      spaceBetween: 36,
      centeredSlides: true,
      speed: 600,
      autoplay: 7000,
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      breakpoints: {
        1200: {
          slidesPerView: 2,
          spaceBetween: 36,
        },
        641: {
          slidesPerView: 1,
          spaceBetween: 0
        }
      }
    })
  </script>





  <section class="section">
    <div class="container is-w-2">

      <div class="container__block is-center">
        <h2 class="ttl is-fukidashi is-inline">どのような健康情報をお探しですか？</h2>
      </div>
      <div class="btn-group sep-row is-gap-1">

        <div class="btn-group__item col l2 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/category/" class="btn is-square is-space-2 is-bg-key is-center">
            <div class="btn-container">
              <div class="btn-container__block"><span class="icon icon-bui is-1"></span></div>
              <div class="btn-container__title is-mb-less">部位・症状から探す<span class="icon icon-arrow_has_bg is-right"></span></div>
            </div><!-- /.btn__container -->
          </a>
        </div><!-- /.btn-group__item -->
        <div class="btn-group__item col l2 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/keyword/" class="btn is-square is-space-2 is-bg-key is-center">
            <div class="btn-container">
              <div class="btn-container__block"><span class="icon icon-search is-1"></span></div>
              <div class="btn-container__title is-mb-less">キーワードから探す<span class="icon icon-arrow_has_bg is-right"></span></div>
            </div><!-- /.btn__container -->
          </a>
        </div><!-- /.btn-group__item -->

      </div><!-- /.btn-group -->


      <div class="btn-group sep-row is-gap-1">
        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/kega/" class="btn is-square is-line-gray">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/ill_kega_index.png" class="thumb is-round is-round-1">
            けがの応急手当て
            <span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
          </a>
        </div><!-- /.btn-group__item -->
        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/kyukyu/" class="btn is-square is-line-gray">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/ill_kyubyo_index.png" class="thumb is-round is-round-1">
            急病の応急手当て
            <span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
          </a>
        </div><!-- /.btn-group__item -->
        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/kusuri/" class="btn is-square is-line-gray">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/ill_kusuri_index.png" class="thumb is-round is-round-1">
            くすりの豆知識
            <span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
          </a>
        </div><!-- /.btn-group__item -->
      </div><!-- /.btn-group -->

    </div><!-- /container -->
  </section>


  <section class="section is-bg-base">

    <div class="container is-w-2">

      <div class="container__block row is-between">
        <h2 class="ttl is-3 col l6 s6">新着情報</h2>
        <div class="btn-group col l6 s6 is-right">
          <div class="btn-group__item"><a href="#" class="btn is-txt">もっと見る<span class="icon is-right icon-arrow_has_bg is-key"></span></a></div>
        </div>
      </div>

      <div class="list list-news">


        <div class="list__block row is-space-2">
          <div class="list__item col l2 s12">
            <div class="txt is-3 is-key is-bold">
              2018/09/21
            </div>
          </div>
          <div class="list__item col l10 s12"><a href="https://www.zenyaku.co.jp/2018/09/21001008.html" class="txt is-3">[ニュースリリース]ジキニンから待望の新商品！ジキニンファースト顆粒N
              イメージキャラクターには、女優の波瑠さんを起用！</a></div>
        </div>

        <div class="list__block row is-space-2">
          <div class="list__item col l2 s12">
            <div class="txt is-3 is-key is-bold">
              2018/09/21
            </div>
          </div>
          <div class="list__item col l10 s12"><a href="https://www.zenyaku.co.jp/2018/09/21001007.html" class="txt is-3">ジキニンファースト顆粒N
              TVCM「効くはもちろん」篇を公開しました。</a></div>
        </div>

        <div class="list__block row is-space-2">
          <div class="list__item col l2 s12">
            <div class="txt is-3 is-key is-bold">
              2018/09/21
            </div>
          </div>
          <div class="list__item col l10 s12"><a href="https://www.zenyaku.co.jp/2018/09/21001005.html" class="txt is-3">ホームページをリニューアルしました。</a></div>
        </div>



      </div><!-- /.list-news -->
    </div><!-- /.container -->
  </section>



  <section class="section">
    <div class="container is-w-2">
      <a href="check/" class="k1ban-content row is-bg-check is-between">

        <div class="k1ban-content__block col l8 s12">
          <div class="k1ban-content__item is-vh-center">
            <div class="ttl-group">
              <div class="image is-center"><img src="https://www.zenyaku.co.jp/k-1ban/assets/img/logo_check.png"></div>
              <div class="txt is-3 is-center is-white">あなたの日常生活を振り返って、<br>自分の健康度をセルフチェックしてみましょう！</div>
              <div class="btn-group is-w-340 is-space-2">
                <div class="btn is-round is-bg-white is-center">ヘルスチェック<span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
                </div>
              </div>
            </div><!-- /.ttl-group -->
          </div>
        </div>

        <div class="k1ban-content__block hero col l4 s12" style="background-image:url(https://www.zenyaku.co.jp/k-1ban/assets/img/ph_check_index.png);"></div>

      </a>
    </div><!-- /.container -->
  </section><!-- /.section -->


  <section class="section">
    <div class="container is-w-2">
      <a href="h_menu/" class="k1ban-content row is-bg-h_menu is-between">

        <div class="k1ban-content__block hero col l4 s12" style="background-image:url(https://www.zenyaku.co.jp/k-1ban/assets/img/ph_h_menu_index.png);"></div>

        <div class="k1ban-content__block col l8 s12">
          <div class="k1ban-content__item is-vh-center">
            <div class="ttl-group">
              <div class="image is-center"><img src="https://www.zenyaku.co.jp/k-1ban/assets/img/logo_h_menu.png"></div>
              <div class="txt is-3 is-center is-white">「おいしく、かしこく、そして楽しい食事」をモットーに</div>
              <div class="btn-group is-w-340 is-space-2">
                <div class="btn is-round is-bg-white is-center">宗像伸子のLet's健康クッキング<span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
                </div>
              </div>
            </div><!-- /.ttl-group -->
          </div>
        </div>

      </a>
    </div><!-- /.container -->
  </section><!-- /.section -->




  <section class="section">
    <div class="container is-w-2">
      <a href="uranai/" class="k1ban-content row is-bg-uranai is-between">

        <div class="k1ban-content__block col l8 s12">
          <div class="k1ban-content__item is-vh-center">
            <div class="ttl-group">
              <div class="image is-center"><img src="https://www.zenyaku.co.jp/k-1ban/assets/img/logo_uranai.png"></div>
              <div class="btn-group is-w-340 is-space-2">
                <div class="btn is-round is-bg-white is-center">今月の星座占い<span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
                </div>
              </div>
            </div><!-- /.ttl-group -->
          </div>
        </div>

        <div class="k1ban-content__block hero col l4 s12" style="background-image:url(https://www.zenyaku.co.jp/k-1ban/assets/img/ph_uranai_index.png);"></div>

      </a>
    </div><!-- /.container -->
  </section><!-- /.section -->


  <section class="section">
    <div class="container is-w-2">
      <a href="yakuso/" class="k1ban-content row is-bg-yakuso is-between">

        <div class="k1ban-content__block hero col l4 s12" style="background-image:url(https://www.zenyaku.co.jp/k-1ban/assets/img/ph_yakuso_index.png);"></div>

        <div class="k1ban-content__block col l8 s12">
          <div class="k1ban-content__item is-vh-center">
            <div class="ttl-group">
              <div class="image is-center"><img src="https://www.zenyaku.co.jp/k-1ban/assets/img/logo_yakuso.png"></div>
              <div class="txt is-3 is-center is-white">四季折々に咲く薬草の花。効能効果はもちろん、原産地や名前の由来などについてご紹介します</div>
              <div class="btn-group is-w-340 is-space-2">
                <div class="btn is-round is-bg-white is-center">薬草の花<span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
                </div>
              </div>
            </div><!-- /.ttl-group -->
          </div>
        </div>

      </a>
    </div><!-- /.container -->
  </section><!-- /.section -->



  <% include _footer %>

  <script src="assets/js/default.js"></script>

</body>

</html>