<!DOCTYPE html>
<html lang="ja" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <title>新着一覧 | 全薬工業株式会社</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Open Graph Protocol -->
  <meta property="og:type" content="article">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:title" content="新着一覧">
  <meta property="og:url" content="https://www.zenyaku.co.jp/">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="全薬工業株式会社">
  <meta property="og:image" content="/assets/img/og_image.png">
  <!-- Metadata -->
  <meta itemprop="description" content="">
  <link itemprop="url" href="https://www.zenyaku.co.jp/">
  <link itemprop="image" href="/assets/img/og_image.png">

</head>

<body>

  <% include _header %>

  <div class="nav-secondary-item nav-2018">
    <div class="item-inner">
      eq=curYear<br>
      <a href="http://dev-www.zenyaku.co.jp/2018"><span>2018</span></a>

    </div>
  </div>


  <div class="nav-secondary-item nav-2017">
    <div class="item-inner">

      <a href="http://dev-www.zenyaku.co.jp/2017"><span>2017</span></a>

    </div>
  </div>




  <div class="nav-secondary-item nav-2016">
    <div class="item-inner">

      <a href="http://dev-www.zenyaku.co.jp/2016"><span>2016</span></a>

    </div>
  </div>







  <section class="section">
    <div class="container is-w-3">
      <h1 class="ttl is-2 is-pagetitle is-line-b is-line-gray">2018&#24180; 一覧</h1>
    </div><!-- /.container -->
  </section>



  <section class="section">
    <div class="container is-w-3">
      <div class="btn-group sep-row">
        <div class="btn-group__item col l9 s5">
          <div id="btn-all" class="btn btn-news is-round is-line-gray is-inline is-bg-white">全て</div>
          <div id="btn-press_release" class="btn btn-news is-round is-line-gray is-inline is-bg-white">プレスリリース</div>
          <div id="btn-product" class="btn btn-news is-round is-line-gray is-inline is-bg-white">製品情報</div>
          <div id="btn-health" class="btn btn-news is-round is-line-gray is-inline is-bg-white">健康情報</div>
          <div id="btn-other" class="btn btn-news is-round is-line-gray is-inline is-bg-white">その他</div>
        </div>
      </div><!-- /.btn-group -->
    </div><!-- /.container -->
  </section>




  <section class="section">
    <div class="container is-w-3">
      <div class="news is-k1ban">

        <div class="news__block row data-press_release" data-press_release="1008">
          <div class="news__item col l12 s12">
            <span class="date is-key">2018/09/21</span>
            <span class="label is-news is-press_release">プレスリリース</span>
          </div>

          <div class="news__item col l12 s12">
            <a href="http://dev-www.zenyaku.co.jp/2018/09/21001008.html" class="txt is-3">[ニュースリリース]ジキニンから待望の新商品！ジキニンファースト顆粒N
              イメージキャラクターには、女優の波瑠さんを起用！</a>
          </div>

        </div><!-- /.news__block -->

        <div class="news__block row data-other" data-other="1003">
          <div class="news__item col l12 s12">
            <span class="date is-key">2018/09/21</span>
            <span class="label is-news is-press_release">その他</span>
          </div>

          <div class="news__item col l12 s12">
            <a href="http://dev-www.zenyaku.co.jp/2018/09/21001007.html" class="txt is-3">ジキニンファースト顆粒N
              TVCM「効くはもちろん」篇を公開しました。</a>
          </div>

        </div><!-- /.news__block -->

        <div class="news__block row data-product" data-product="1003">
          <div class="news__item col l12 s12">
            <span class="date is-key">2018/09/2223</span>
            <span class="label is-news is-press_release">製品情報</span>
          </div>

          <div class="news__item col l12 s12">
            <a href="http://dev-www.zenyaku.co.jp/2018/09/03001003.html" class="txt is-3">ジキニンブランドサイトを公開しました。aaaaa</a>
          </div>

        </div><!-- /.news__block -->


        <div class="news__block row data-health" data-health="602">
          <div class="news__item col l12 s12">
            <span class="date is-key">2018/09/10</span>
            <span class="label is-news is-press_release">健康情報</span>
          </div>

          <div class="news__item col l12 s12">
            <a href="http://dev-www.zenyaku.co.jp/2018/09/10000602.html" class="txt is-3">「老け知らずさんの健康レシピ」を更新しました。</a>
          </div>

        </div><!-- /.news__block -->



        <div class="news__block row data-product" data-product="1003">
          <div class="news__item col l12 s12">
            <span class="date is-key">2018/09/03</span>
            <span class="label is-news is-press_release">製品情報</span>
          </div>

          <div class="news__item col l12 s12">
            <a href="http://dev-www.zenyaku.co.jp/2018/09/03001003.html" class="txt is-3">ジキニンブランドサイトを公開しました。</a>
          </div>

        </div><!-- /.news__block -->


      </div><!-- /.list-news -->
    </div><!-- /.container -->
  </section>


  <aside class="section">
    <div class="container">
      <div class="box is-bg-base is-w-3">
        <div class="ttl is-3 is-line-b is-line-gray">年別アーカイブ</div>
        <ul class="sub-nav">
          <li class="sub-nav__item"><a href="https://www.zenyaku.co.jp/news/2018/" class="btn is-line-b">2018年<span
                class="icon icon-arrow is-right-fix"></span></a></li>
        </ul>
      </div>
    </div><!-- /.container -->
  </aside>


  <script src="assets/js/default.js"></script>
</body>

</html>