<!DOCTYPE html>
<html lang="ja">

<head>

  <title>製品のご案内：全薬工業株式会社</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="####" />
  <meta name="description" content="####" />
  <meta content="全薬工業株式会社" property="og:title" />
  <meta content="article" property="og:type" />
  <meta content="####" property="og:url" />
  <meta content="####" property="og:image" />
  <meta content="####" property="og:description" />
  <meta content="全薬工業株式会社" property="og:site_name" />


  <link rel="alternate" type="application/atom+xml" title="全薬工業株式会社 Atom" href="https://www.zenyaku.co.jp/atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="全薬工業株式会社 RSS 2.0" href="https://www.zenyaku.co.jp/index.xml" />
  <link rel="shortcut icon" href="####" />

  <link rel="stylesheet" href="assets/css/style.css" />

</head>

<body>

  <% include _header %>


  <button class="js-modal-btn" data-video-id="XJS_UYNq4No">Open Video</button>
  <script src="assets/js/modal-video.js"></script>
  <script>
    new ModalVideo('.js-modal-video');
  </script>

  <section class="section is-bg-base">

    <div class="page-header sep-row is-w-2">

      <div class="page-header__block col l2 s1">
        <div class="page-header__image-product">

          <div class="image is-self-1">
            <img src="../../assets/img/mark_self.png">
          </div>
          <div class="image is-product is-vh-center">
            <img src="../assets/img/dickinin_re.jpg" class="thumb">
          </div>

        </div>
      </div><!-- /.page-header__block -->

      <div class="page-header__block col l2 s1">
        <div class="page-header__item">

          <div class="ttl-group">
            <h1 class="ttl is-1">新ジキニン顆粒</h1>
            <div class="txt is-4">甘草エキス配合の総合感冒薬</div>
          </div>

          <div class="list">
            <div class="list__block is-line-b">
              <div class="spec-tag is-5">指定第2類医薬品</div>
            </div>

            <div class="list__block is-line-b row">
              <div class="list__item col l3 s3">
                <div class="txt is-4">顆粒顆粒</div>
              </div>
              <div class="list__item col l9 s9">
                <div class="image image--left">
                  <img src="../../assets/img/product-name_form.png">
                </div>
              </div>
            </div>

            <div class="list__block is-line-b">
              <img src="../../assets/img/icon_pdf.png" class="thumb-inline">
              <a href="#" class="is-4">甘草エキス配合の総合感冒薬</a>
            </div>

            <div class="list__block is-line-b">

              <div class="btn-group">
                <div class="btn-group__block sep-row is-gap-3">
                  <div class="btn-group__item col l2 s1">
                    <a href="#" class="btn is-round is-bg-key is-center">
                      ブランドサイトへ
                      <span class="icon is-right icon-arrow is-right-fix"></span>
                    </a>
                  </div>
                  <!-- /.btn-group__item -->
                  <div class="btn-group__item col l2 s1">
                    <a href="#" class="btn is-round is-bg-key is-center">
                      シリーズ製品へ
                      <span class="icon is-right icon-arrow is-right-fix"></span>
                    </a>
                  </div>
                  <!-- /.btn-group__item -->
                </div>
                <!-- /.btn-group__block -->
              </div>
              <!-- /.btn-group -->

            </div>

          </div>
          <!--/.product-spec__list /.list-->
        </div>
      </div><!-- /.page-header__block -->
    </div><!-- /.page-header -->
  </section><!-- /.section -->


  <section class="section is-bg-base">

    <div class="page-header row is-w-2">

      <div class="page-header__block col l7 s12">
        <div class="page-header__item">
          <div class="ttl-group">
            <h1 class="ttl is-1">動脈硬化がになる方の <br> チェック表</h1>
            <div class="txt is-4">心筋梗塞や脳梗塞に直結する動脈硬化！ 放っておくと命にも関わり、また治ってもさまざまな後遺症が残る危険があります。
              動脈硬化を引き起こす危険因子を自己チェックして、健康管理につとめましょう。
            </div>
          </div>

          <div class="profile">
            <div class="profile__inline">
              <div class="profile__img">
                <img alt="今村 甲彦" src="//img.aacdn.jp/201107/all/guide/1523/guide-1523-60-60.gif" class="thumb is-round">
              </div>
            </div>

            <div class="profile__inline">
              <div class="profile__txt is-5">
                <p>監修：平沼尚和先生</p>
                <p>東京都 調布市平沼整形外科クリニック 院長</p>
              </div>
            </div>

          </div><!-- /.profile -->
        </div><!-- /.page-header__item -->
      </div><!-- /.page-header__block -->

      <div class="page-header__block col l5 s12">

        <div class="image image-ill--md is-vh-center">
          <img src="../assets/img/product-name.png">
        </div>

      </div><!-- /.container__block -->
    </div><!-- /.container -->
  </section>
  <!-- /.section -->


  <section class="section is-w-3">
    <div class="content">


      <div class="box row is-bg-lt-gray">

        <div class="box__block col l3 s12">
          <div class="ttl is-3 is-vh-center">目次</div>
        </div><!-- /.container__item -->

        <div class="box__block col l9 s12">
          <ul class="is-nostyle is-ul-center">
            <li class="list__item">
              <div class="ttl is-3"><span class="is-gray">●</span> 独立自営</div>
            </li>
            <li class="list__item">
              <div class="ttl is-3"><span class="is-gray">●</span> 相互扶助</div>
            </li>
            <li class="list__item">
              <div class="ttl is-3"><span class="is-gray">●</span> 事業を通じて社会人類に貢献しなければならない</div>
            </li>
          </ul>
        </div>
      </div><!-- /.box -->


      <div class="notification">
        <div class="notification__head"></div>
        <div class="notification__body">
          <p class="txt is-3">お知らせ</p>
        </div>
        <div class="notification__foot"></div>
      </div>

      <div class="image">
        <img src="../../assets/img/logo_dikinin.png" class="logo-product--lg">
      </div>

      <p class="txt is-3">
        新ジキニン顆粒は、甘草（カンゾウ）エキス、
        <a href="#">解熱鎮痛剤</a> アセトアミノフェン、鎮咳剤ジヒドロコデインリン酸塩などを配合した効き目のすぐれた総合感冒薬です。
      </p>
      <ul class="ul-list">
        <li class="list__item txt is-3">解熱、鎮痛、抗炎症作用のほか、ジヒドロコデインリン酸塩とdl-メチルエフェドリン塩酸塩の配合により、鎮咳、去痰にもすぐれた作用を示します。</li>
        <li class="list__item txt is-3">甘草の甘味により服用しやすく、また、携帯にも便利な分包顆粒です。</li>
      </ul>

      <div class="image">
        <img src="../assets/img/product-name.png" class="thumb">
      </div>

      <h2 class="ttl is-3 is-key">効能効果</h2>
      <p class="txt is-3">
        かぜの諸症状（せき、発熱、頭痛、鼻水、鼻づまり、くしゃみ、のどの痛み、たん、悪寒(発熱によるさむけ)、関節の痛み、筋肉の痛み）の緩和。
      </p>

      <h2 class="ttl is-3 is-key">用法・用量</h2>
      <div class="content__block row">

        <div class="content__item col l8">
          <p class="txt is-3">
            15才以上1回1包、12才以上15才未満1回2/3包
            <br> １日３回食後なるべく30分以内に服用してください。
          </p>
        </div>
        <div class="content__item col l4">
          <p class="txt is-3">
            15才以上1回1包、12才以上15才未満1回2/3包
            <br> １日３回食後なるべく30分以内に服用してください。
          </p>
        </div>
      </div>

      <h2 class="ttl is-3 is-key">容量・価格</h2>
      <table class="table">
        <tbody>
          <tr>
            <th>容量</th>
            <th>希望小売価格（税抜）</th>
          </tr>
          <tr>
            <td>10包</td>
            <td>0,000円</td>
          </tr>
          <tr>
            <td>16包</td>
            <td>0,000円</td>
          </tr>
          <tr>
            <td>22包</td>
            <td>0,000円</td>
          </tr>
        </tbody>
      </table>

    </div><!-- /.content -->

    <div class="media-list">
      <h2 class="ttl is-3 is-key">関連CM</h2>
      <div class="media-list__block sep-row is-gap-2">

        <% for(var i=0; i<2; i++){ %>

        <div class="media-list__item col l2 s1">
          <a href="#" class="media media--vertical is-line-white">

            <div class="image">
              <img src="../assets/img/media_sample.png">
            </div>

            <div class="media__content">
              <div class="ttl is-4">タイトルaaa</div>
              <div class="txt is-4">テキスト</div>
              <div class="txt is-5">
                <span class="date">2017/5/5</span> |
                <span class="category">カテゴリ</span>
              </div>
            </div>
          </a><!-- /.media -->
        </div><!-- /.media-list__item -->

        <% } %>

      </div>
    </div><!-- /.media-list -->

    <div class="media-list">
      <h2 class="ttl is-3 is-key">関連製品一覧</h2>
      <div class="media-list__block sep-row is-gap-3">

        <% for(var i=0; i<4; i++){ %>
        <div class="media-list__item col l4 s2">

          <a href="#" class="media media--vertical is-line-gray">
            <div class="media__content">
              <div class="image is-self-2"><img src="../../assets/img/mark_self.png"></div>
              <div class="image is-product-thumb is-vh-center">
                <img src="../assets/img/dickinin.jpg" class="thumb">
              </div>
              <div class="image is-center">
                <img src="../assets/img/logo_dikinin.png" class="thumb is-logo-2">
              </div>
              <div class="ttl is-4">タイトルaaa</div>
              <div class="txt is-4">テキスト</div>
            </div>
          </a><!-- /.media -->

        </div>
        <!-- /.media-list__item -->

        <div class="media-list__item col l4 s2">

          <a href="#" class="media media--vertical is-line-gray">
            <div class="media__content">
              <div class="image is-self-2"><img src="../../assets/img/mark_self.png"></div>
              <div class="image is-product-thumb is-vh-center">
                <img src="../assets/img/dickinin_syrup.jpg" class="thumb is-product">
              </div>
              <div class="image is-center">
                <img src="../assets/img/logo_dikinin.png" class="thumb is-logo-2">
              </div>
              <div class="ttl is-4">タイトルaaa</div>
              <div class="txt is-4">テキスト</div>
            </div>
          </a><!-- /.media -->

        </div>
        <!-- /.media-list__item -->

        <% } %>

      </div><!-- /.media-list__block -->
    </div><!-- /.media-list -->


    <div class="btn-group">
      <div class="ttl is-line-over"><span>関連ワード</span></div>
      <div class="btn-group__block">
        <% for(var i=0; i<6; i++){ %>
        <a href="#" class="btn is-round is-inline is-bg-lt-gray is-center">テストaa</a>
        <% } %>
      </div>
    </div>

  </section>
  <!-- /.section -->


  <section class="section is-bg-lt-gray">
    <div class="section__block is-w-3">

      <div class="media-list is-mb-less">
        <h2 class="ttl is-3 is-key">おすすめ記事</h2>
        <div class="media-list__block sep-row is-gap-3">
          <% for(var i=0; i<4; i++){ %>

          <div class="media-list__item col l4 s2">
            <a href="#" class="media media--vertical is-line-gray">

              <div class="image">
                <img src="../assets/img/media_sample.png" class="thumb-media">
              </div>

              <div class="media__content">
                <div class="ttl is-4">タイトルaaa</div>
                <div class="txt is-4">テキスト</div>
                <div class="txt is-5">
                  <span class="date">2017/5/5</span> |
                  <span class="category">カテゴリ</span>
                </div>
              </div>
            </a><!-- /.media -->
          </div><!-- /.media-list__item -->

          <% } %>
        </div>
      </div>

    </div><!-- /.section__block -->
  </section><!-- /.section -->

  <section class="section is-bg-lt-gray">
    <div class="section__block is-w-3">

      <div class="media-list is-mb-less">
        <div class="media-list__block sep-row is-gap-3">
          <% for(var i=0; i<3; i++){ %>

          <div class="media-list__item col l3 s1">
            <a href="#" class="media media--vertical is-parent is-line-white">

              <div class="media__content is-center">
                <div class="ttl is-4">タイトルaaa</div>
                <div class="txt is-4">テキスト <br> アイウエオ </div>
                <div class="btn is-child is-round is-bg-white is-center">
                  子ボタン
                  <span class="icon icon-arrow_has_bg is-right-fix is-key"></span>
                </div>
              </div>
            </a><!-- /.media -->
          </div><!-- /.media-list__item -->

          <% } %>
        </div>
      </div>

    </div><!-- /.section__block -->
  </section><!-- /.section -->

  <section class="section is-bg-base">
    <div class="section__block is-w-2">

      <div class="product-category container is-bg-white is-line-gray">
        <div class="container__block row">

          <div class="container__item col l2 s12">
            <div class="product-category__ttl is-vh-center">
              <span class="icon icon-bui is-1"></span>
              <h2 class="ttl is-3 is-key">かぜの諸症状・熱・痛み</h2>
            </div>
          </div><!-- /.container__item -->

          <div class="container__item col l10 s12">

            <div class="btn-group">
              <div class="btn-group__block sep-row is-gap-2">
                <div class="btn-group__item col l3 s1">
                  <a href="#" class="btn is-txt is-has-icon-right is-line-b">テキストのみテキストのみテキストのみ
                    <span class="icon icon-arrow is-right-fix is-key"></span>
                  </a>
                </div><!-- /.btn-group__item -->
                <div class="btn-group__item col l3 s1">
                  <a href="#" class="btn is-txt is-line-b">テキストのみ
                    <span class="icon icon-arrow is-right-fix is-key"></span>
                  </a>
                </div><!-- /.btn-group__item -->
                <div class="btn-group__item col l3 s1">
                  <a href="#" class="btn is-txt is-line-b">テキストのみ
                    <span class="icon icon-arrow is-right-fix is-key"></span>
                  </a>
                </div><!-- /.btn-group__item -->
                <div class="btn-group__item col l3 s1">
                  <a href="#" class="btn is-txt is-line-b">テキストのみ
                    <span class="icon icon-arrow is-right-fix is-key"></span>
                  </a>
                </div><!-- /.btn-group__item -->
              </div><!-- /.btn-group__block -->
            </div><!-- /.btn-group -->

          </div><!-- /.container__item -->
        </div><!-- /.container__block -->

      </div><!-- /.product-category /.container -->

      <div class="product-category container is-bg-white is-line-gray">
        <div class="container__block row">

          <div class="container__item col l2">
            <div class="product-category__ttl is-vh-center">
              <span class="icon icon-bui is-1"></span>
              <h2 class="ttl is-3 is-key">かぜの諸症状・熱・痛み</h2>
            </div>
          </div><!-- /.container__item -->

          <div class="container__item col l10">

            <div class="btn-group">
              <div class="btn-group__block sep-row is-gap-2">
                <div class="btn-group__item col l3 s2">
                  <a href="#" class="btn is-txt is-line-b">テキストのみ
                    <span class="icon icon-arrow is-right-fix is-key"></span>
                  </a>
                </div><!-- /.btn-group__item -->
                <div class="btn-group__item col l3 s2">
                  <a href="#" class="btn is-txt is-line-b">テキストのみ
                    <span class="icon icon-arrow is-right-fix is-key"></span>
                  </a>
                </div><!-- /.btn-group__item -->
                <div class="btn-group__item col l3 s2">
                  <a href="#" class="btn is-txt is-line-b">テキストのみ
                    <span class="icon icon-arrow is-right-fix is-key"></span>
                  </a>
                </div><!-- /.btn-group__item -->
                <div class="btn-group__item col l3 s2">
                  <a href="#" class="btn is-txt is-line-b">テキストのみ
                    <span class="icon icon-arrow is-right-fix is-key"></span>
                  </a>
                </div><!-- /.btn-group__item -->
              </div><!-- /.btn-group__block -->
            </div><!-- /.btn-group -->

          </div><!-- /.container__item -->
        </div><!-- /.container__block -->

      </div><!-- /.product-category /.container -->

    </div><!-- /.section__content -->
  </section>

  <div class="box is-bg-white is-line-gray">
    <div class="box__block row">
      <div class="box__item col l3">

        <div class="box-fl-c">
          <div class="box--fl-c__item is-center">
            <span class="icon icon-bui is-1"></span>
            <h2 class="ttl is-3 is-key">かぜの諸症状・熱・痛み</h2>
          </div>
        </div>
        <!-- /.box-fl-cc -->

      </div>
      <!-- /.box__item -->
      <div class="box__item col l9">




      </div>
      <!-- /.box__item -->

    </div>
    <!-- /.box__block -->
  </div>
  <!-- /.box -->


  <% include _footer %>

  <script src="assets/js/default.js"></script>


</body>

</html>