<!DOCTYPE html>
<html lang="ja">

<head>

  <title>レシピ：全薬工業株式会社</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="####" />
  <meta name="description" content="####" />
  <meta content="全薬工業株式会社" property="og:title" />
  <meta content="article" property="og:type" />
  <meta content="####" property="og:url" />
  <meta content="####" property="og:image" />
  <meta content="####" property="og:description" />
  <meta content="全薬工業株式会社" property="og:site_name" />


  <link rel="alternate" type="application/atom+xml" title="全薬工業株式会社 Atom" href="https://www.zenyaku.co.jp/atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="全薬工業株式会社 RSS 2.0" href="https://www.zenyaku.co.jp/index.xml" />
  <link rel="shortcut icon" href="####" />

  <link rel="stylesheet" href="assets/css/style.css" />

</head>

<body>

  <% include _header %>

  <section class="section is-m-less">

    <div class="hero is-fix-3" style="background-image:url('https://www.zenyaku.co.jp/k-1ban/assets_c/2018/08/ph_reci_fukeshirazu-thumb-1280x200-711.jpg');">

      <div class="container is-w-2">
        <div class="image is-vh-center">
          <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/logo_reci_fukeshirazu.png" alt="老けしらずさんの健康レシピ"
            class="thumb is-logo-header">
        </div>
      </div>
    </div>
  </section>

  <section class="section is-bg-fukeshirazu">
    <div class="container is-w-3">

      <div class="box is-round is-bg-white is-center">
        <div class="ttl is-2 is-vh-center is-m-less">第6回<br>4条 賢くカロリーを控えて、健康的に美しくダイエットしましょう。 ＜和食編＞</div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-w-3">
      <p class="txt is-3">
        和食は、洋食や中華料理に比べて低カロリーなので、主食（ごはん）の量をコントロールすることで摂取カロリーの調節がしやすいのが特長です。今回はダイエットにぴったりの低カロリー食材・かますと豆腐を使いました。 <br>
        ダイエット中は、一食分の量や栄養バランスが偏ってしまいがちなので、低カロリーのレシピをバランス良く、しっかり摂ることで量が少なくても十分満足できる一品になります。 <br>
        ［一食分のおすすめレシピ］小松菜の磯辺和え、きのこの味噌汁、ごはん（150ｇ）
      </p>
    </div>
  </section>


  <section class="section is-bg-recipe" style="background-image: url(/k-1ban/assets/img/recipe/ph_resipe_bg.png)">

    <div class="container is-w-3">




      <div class="btn-group sep-row is-gap-3">


        <div class="btn-group__item col l3 s1">
          <a href="#sec-1809_01" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/09/fukeshirazu_1809_01-thumb-100x100-1400.jpg" alt="焼きかますの香りづけ"
              class="thumb is-round is-round-2">
            &nbsp;焼きかますの香りづけ
          </a>
        </div><!-- /.btn-group__item -->




        <div class="btn-group__item col l3 s1">
          <a href="#sec-1809_02" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/09/fukeshirazu_1809_02-thumb-100x100-1399.jpg" alt="炒り豆腐"
              class="thumb is-round is-round-2">
            &nbsp;炒り豆腐
          </a>
        </div><!-- /.btn-group__item -->



      </div>





      <div class="recipe" id="sec-1809_01">
        <h1 class="ttl is-1"><span class="icon icon-eat is-left is-orange"></span><span class="is-brown">焼きかますの香りづけ</span></h1>

        <div class="recipe__block">
          <div class="recipe__intro row is-bg-fukeshirazu">

            <div class="col l7 s12">
              <div class="image is-center"><img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/09/fukeshirazu_1809_01-thumb-800x450-1400.jpg"
                  alt="焼きかますの香りづけ"></div>
            </div>

            <div class="col l5 s12">
              <div class="is-vh-center">





                <ul class="ul-list is-nostyle">
                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">栄養素（1人分）</div>
                  </li>


                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">エネルギー</div>
                    <div class="col is-white is-right">123kcal
                    </div>
                  </li>



                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">たんぱく質
                    </div>
                    <div class="col is-white is-right">14.0ｇ
                    </div>
                  </li>



                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">脂質</div>
                    <div class="col is-white is-right">5.1ｇ
                    </div>
                  </li>



                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">炭水化物
                    </div>
                    <div class="col is-white is-right">3.4ｇ</div>
                  </li>



                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">塩分</div>
                    <div class="col is-white is-right">0.8ｇ
                    </div>
                  </li>


                </ul>
              </div>
            </div><!-- /.col -->
          </div><!-- /.recipe__intro .row -->
        </div><!-- /.recipe__block -->



        <div class="recipe__block">
          <div class="fukeshirazu">
            <div class="bubble-wrapper has-teacher">
              <p class="bubble txt is-3">
                長ねぎや生姜などの香味野菜で作った調味液に、旬のかますを漬けた一品です。低カロリーなうえ、油を使わずに調理しているのでダイエットにぴったりな一品です。付け合わせにトマトときゅうりを添えて、彩りとボリュームをアップしました。魚はかますのほかに、あじ、いさき、さんま、生鮭、さわらなどもおすすめです。
              </p>
              <img src="/k-1ban/assets/img/recipe/fukeshirazu_teacher.png" alt="">
            </div>
          </div>
        </div>



        

        <div class="recipe__block row is-gap-2">
          <div class="recipe__item col l6 s12">
            <div class="recipe__material">
              <h2 class="ttl is-2 is-orange"><span class="icon icon-reci_material is-left"></span>材料（2人分）</h2>

              <div class="recipe__list-wrapp">
                <div class="zairyo">

                  <div class="zairyo__item">
                    <div class="name">鶏胸肉</div>
                    <div class="value">140ｇ</div>
                  </div>

                  <div class="zairyo__item">
                    <div class="name">塩</div>
                    <div class="value">少々</div>
                  </div>

                  <div class="zairyo-group">
                    <div class="zairyo__item">
                      <div class="name">塩</div>
                      <div class="value">少々</div>
                    </div>
                    <div class="zairyo__item">
                      <div class="name">塩</div>
                      <div class="value">少々</div>
                    </div>
                  </div>

                  <div class="zairyo__item">
                    <div class="name">塩</div>
                    <div class="value">少々</div>
                  </div>

                </div>
              </div>


            </div><!-- /.recipe__material -->
          </div><!-- /.recipe__item -->
          <div class="recipe__item col l6 s12">
            <div class="recipe__make">
              <h2 class="ttl is-2 is-orange"><span class="icon icon-reci_make is-left"></span>作り方</h2>

              <div class="recipe__list-wrapp">
                <h3 class="ttl is-3 is-orange">スクランブルエッグ</h3>
                <ol class="ol-list">
                  <li class="list__item txt is-3">かますは1枚を2～3等分に切り、酒を振ります。</li>
                  <li class="list__item txt is-3">長ねぎ、生姜はみじん切り、赤唐辛子は小口切りにします。しょうゆ、酢、みりん、だしを合わせておきます。</li>
                  <li class="list__item txt is-3">トマトはくし形に切ります。きゅうりはじゃばら切りにして塩を少々振り、しんなりしてから水気を絞り、一口大に切ります。</li>
                  <li class="list__item txt is-3">1をグリルで両面焼いて火を通し、すぐに2に漬けて15分くらいおきます。途中で裏返します。<br>
                    <span class='tag txt is-5 is-bg-orange'><b>ポイント</b><br>
                      魚は熱いうちに調味液に漬けると、味がしみ込みやすくなります。焼きあがったらすぐに漬け込みましょう。</span></li>
                  <li class="list__item txt is-3">器に4を盛り、3を添えます。</li>
                </ol>

                <h3 class="ttl is-3">スクランブルエッグ</h3>
                <ol class="ol-list">
                  <li class="list__item txt is-3">かますは1枚を2～3等分に切り、酒を振ります。</li>
                  <li class="list__item txt is-3">長ねぎ、生姜はみじん切り、赤唐辛子は小口切りにします。しょうゆ、酢、みりん、だしを合わせておきます。</li>
                  <li class="list__item txt is-3">トマトはくし形に切ります。きゅうりはじゃばら切りにして塩を少々振り、しんなりしてから水気を絞り、一口大に切ります。</li>
                  <li class="list__item txt is-3">1をグリルで両面焼いて火を通し、すぐに2に漬けて15分くらいおきます。途中で裏返します。<br>
                    <span class='tag txt is-5 is-bg-orange'><b>ポイント</b><br>
                      魚は熱いうちに調味液に漬けると、味がしみ込みやすくなります。焼きあがったらすぐに漬け込みましょう。</span></li>
                  <li class="list__item txt is-3">器に4を盛り、3を添えます。</li>
                </ol>

              </div>
            </div><!-- /.recipe__make -->
          </div><!-- /.recipe__item -->
        </div><!-- /.recipe__block -->



        <div class="recipe__block">
          <div class="box is-bg-white">
            <h2 id="sec0n" class="ttl is-2 is-line-left is-line-key">一食のカロリーランキング＜和食＞（kcal）</h2>
            <ol class="ol-list">
              <li class="list__item row is-between txt is-3 is-line-b-s">
                <div class="col">すき焼き</div>
                <div class="col"> 616 </div>
              </li>
              <li class="list__item row is-between txt is-3 is-line-b-s">
                <div class="col">天ぷら</div>
                <div class="col">464</div>
              </li>
              <li class="list__item row is-between txt is-3 is-line-b-s">
                <div class="col">豚カツ（ロース）</div>
                <div class="col">400</div>
              </li>
              <li class="list__item row is-between txt is-3 is-line-b-s">
                <div class="col">鶏肉のから揚げ</div>
                <div class="col">352</div>
              </li>
              <li class="list__item row is-between txt is-3 is-line-b-s">
                <div class="col">肉じゃが</div>
                <div class="col">334</div>
              </li>
              <li class="list__item row is-between txt is-3 is-line-b-s">
                <div class="col">かきフライ</div>
                <div class="col">288</div>
              </li>
              <li class="list__item row is-between txt is-3 is-line-b-s">
                <div class="col">ぶりの照り焼き</div>
                <div class="col">286</div>
              </li>
              <li class="list__item row is-between txt is-3 is-line-b-s">
                <div class="col">炒り鶏</div>
                <div class="col">260</div>
              </li>
              <li class="list__item row is-between txt is-3 is-line-b-s">
                <div class="col">揚げ出し豆腐</div>
                <div class="col">249</div>
              </li>
              <li class="list__item row is-between txt is-3 is-line-b-s">
                <div class="col">刺し身（まぐろ、いか）</div>
                <div class="col">180</div>
              </li>
            </ol>
          </div>
        </div>




        <div class="recipe__block">
          <div class="ttl is-3">食材から探す</div>
          <div class="btn-group">
            <div class="btn-group__block">

              <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/search.html?tag_id=230" class="btn is-round is-inline is-bg-lt-orange is-center">
                かます
              </a>

            </div>
          </div><!-- /.btn-group -->
        </div>



      </div><!-- /.recipe -->



      <div class="recipe" id="sec-1809_02">
        <h1 class="ttl is-1"><span class="icon icon-eat is-left is-orange"></span><span class="is-brown">炒り豆腐</span></h1>

        <div class="recipe__block">
          <div class="recipe__intro row is-bg-fukeshirazu">

            <div class="col l7 s12">
              <div class="image is-center"><img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/09/fukeshirazu_1809_02-thumb-800x450-1399.jpg"
                  alt="炒り豆腐"></div>
            </div>

            <div class="col l5 s12">
              <div class="is-vh-center">





                <ul class="ul-list is-nostyle">
                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">栄養素（1人分）</div>
                  </li>


                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">エネルギー
                    </div>
                    <div class="col is-white is-right">159kcal</div>
                  </li>



                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">たんぱく質
                    </div>
                    <div class="col is-white is-right">9.4ｇ
                    </div>
                  </li>



                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">脂質</div>
                    <div class="col is-white is-right">9.8ｇ
                    </div>
                  </li>



                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">炭水化物
                    </div>
                    <div class="col is-white is-right">8.5ｇ</div>
                  </li>



                  <li class="list__item row is-between txt is-3">
                    <div class="col is-white">塩分</div>
                    <div class="col is-white is-right">0.9ｇ</div>
                  </li>


                </ul>
              </div>
            </div><!-- /.col -->
          </div><!-- /.recipe__intro .row -->
        </div><!-- /.recipe__block -->



        <div class="recipe__block">
          <div class="fukeshirazu">
            <div class="bubble-wrapper has-teacher">
              <p class="bubble txt is-3">
                低カロリーの豆腐と野菜を、卵と一緒に炒め、優しい味付けにしました。野菜はほかに、ごぼう、うど、たけのこ、さやえんどう、糸みつ葉などもおすすめです。
              </p>
              <img src="/k-1ban/assets/img/recipe/fukeshirazu_teacher.png" alt="">
            </div>
          </div>
        </div>



        <div class="recipe__block row is-gap-2">
          <div class="recipe__item col l6 s12">
            <div class="recipe__material">
              <h2 class="ttl is-2 is-orange"><span class="icon icon-reci_material is-left"></span>材料（2人分）</h2>
              <ul class="ul-list is-nostyle">
                <li class="list__item row is-between txt is-3">
                  <div class="col">木綿豆腐</div>
                  <div class="col">200ｇ</div>
                </li>
                <li class="list__item row is-between txt is-3">
                  <div class="col">長ねぎ</div>
                  <div class="col">30ｇ</div>
                </li>
                <li class="list__item row is-between txt is-3">
                  <div class="col">にんじん</div>
                  <div class="col">30ｇ</div>
                </li>
                <li class="list__item row is-between txt is-3">
                  <div class="col">生しいたけ</div>
                  <div class="col">20ｇ</div>
                </li>
                <li class="list__item row is-between txt is-3">
                  <div class="col">さやいんげん</div>
                  <div class="col">20ｇ</div>
                </li>
                <li class="list__item row is-between txt is-3">
                  <div class="col">油</div>
                  <div class="col">8ｇ（小さじ2）</div>
                </li>
                <li class="list__item row is-between txt is-3">
                  <div class="col">だし</div>
                  <div class="col">40ｇ（1/5カップ）</div>
                </li>
                <li class="list__item row is-between txt is-3">
                  <div class="col">砂糖</div>
                  <div class="col">6ｇ（小さじ2）</div>
                </li>
                <li class="list__item row is-between txt is-3">
                  <div class="col">塩</div>
                  <div class="col">1ｇ（小さじ1/6）</div>
                </li>
                <li class="list__item row is-between txt is-3">
                  <div class="col">しょうゆ</div>
                  <div class="col">3ｇ（小さじ1/2）</div>
                </li>
                <li class="list__item row is-between txt is-3">
                  <div class="col">卵</div>
                  <div class="col">30ｇ</div>
                </li>
              </ul>
            </div><!-- /.recipe__material -->
          </div><!-- /.recipe__item -->
          <div class="recipe__item col l6 s12">
            <div class="recipe__make">
              <h2 class="ttl is-2 is-orange"><span class="icon icon-reci_make is-left"></span>作り方</h2>
              <ol class="ol-list">






                <li class="list__item txt is-3">木綿豆腐は、水気を絞っておきます。</li>



                <li class="list__item txt is-3">長ねぎ、にんじんは短めの千切り、生しいたけは薄切りにします。さやいんげんは筋を取って茹で、斜めに細く切ります。</li>



                <li class="list__item txt is-3">鍋に油をあたため、長ねぎ、にんじん、生しいたけを炒め、しんなりしてきたら1を加えてほぐすように炒めます。だしを入れ、砂糖、塩、しょうゆで調味し、中火で汁気が少なくなるまで炒め煮にします。</li>



                <li class="list__item txt is-3">3にとき卵を流し入れて炒め、さやいんげんを加えます。</li>


              </ol>
            </div><!-- /.recipe__make -->
          </div><!-- /.recipe__item -->
        </div><!-- /.recipe__block -->






        <div class="recipe__block">
          <div class="ttl is-3">食材から探す</div>
          <div class="btn-group">
            <div class="btn-group__block">

              <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/search.html?tag_id=231" class="btn is-round is-inline is-bg-lt-orange is-center">
                木綿豆腐
              </a>

            </div>
          </div><!-- /.btn-group -->
        </div>



      </div><!-- /.recipe -->







      <div class="btn-group is-w-300 is-space-2">
        <a href="../fukeshirazu" class="btn is-round is-line-gray is-bg-white is-center"><span class="icon icon-arrow_has_bg_re is-left-fix is-key"></span>老けしらずさんの健康レシピ</a>
      </div>

    </div><!-- /.container -->
  </section>



  <section class="section">
    <div class="container is-w-2">










































































































      <div class="media-list is-mb-less">
        <div class="ttl is-3"><span>バックナンバー</span></div>
        <div class="media-list__block sep-row is-gap-3">









          <div class="media-list__item col l4 s2">
            <a class="media media--vertical is-line-gray" href="https://www.zenyaku.co.jp/k-1ban/h_menu/fukeshirazu/1804.html">
              <div class="media__block">
                <div class="image is-center">
                  <img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/09/fukeshirazu_1804_01-thumb-232xauto-1405.jpg"
                    alt="第1回<br>1条 カラダをつくる源！ たんぱく質豊富な食材をしっかりとりましょう。＜魚編＞" class="thumb is-media">
                </div>
              </div>
              <div class="media__content">
                <div class="ttl is-4 is-bold">第1回<br>1条 カラダをつくる源！ たんぱく質豊富な食材をしっかりとりましょう。＜魚編＞</div>
              </div><!-- /.media__content -->
            </a><!-- /.media -->
          </div><!-- /.media-list__item -->





          <div class="media-list__item col l4 s2">
            <a class="media media--vertical is-line-gray" href="https://www.zenyaku.co.jp/k-1ban/h_menu/fukeshirazu/1805.html">
              <div class="media__block">
                <div class="image is-center">
                  <img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/09/fukeshirazu_1805_01-thumb-232xauto-1403.jpg"
                    alt="第2回<br>1条 カラダをつくる源！ たんぱく質豊富な食材をしっかりとりましょう。＜肉編＞" class="thumb is-media">
                </div>
              </div>
              <div class="media__content">
                <div class="ttl is-4 is-bold">第2回<br>1条 カラダをつくる源！ たんぱく質豊富な食材をしっかりとりましょう。＜肉編＞</div>
              </div><!-- /.media__content -->
            </a><!-- /.media -->
          </div><!-- /.media-list__item -->





          <div class="media-list__item col l4 s2">
            <a class="media media--vertical is-line-gray" href="https://www.zenyaku.co.jp/k-1ban/h_menu/fukeshirazu/1806.html">
              <div class="media__block">
                <div class="image is-center">
                  <img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/09/fukeshirazu_1806_01-thumb-232xauto-1406.jpg"
                    alt="第3回<br>2条 骨や関節を強くするためには、カルシウムやビタミンを しっかりとりましょう。" class="thumb is-media">
                </div>
              </div>
              <div class="media__content">
                <div class="ttl is-4 is-bold">第3回<br>2条 骨や関節を強くするためには、カルシウムやビタミンを しっかりとりましょう。</div>
              </div><!-- /.media__content -->
            </a><!-- /.media -->
          </div><!-- /.media-list__item -->





          <div class="media-list__item col l4 s2">
            <a class="media media--vertical is-line-gray" href="https://www.zenyaku.co.jp/k-1ban/h_menu/fukeshirazu/1807.html">
              <div class="media__block">
                <div class="image is-center">
                  <img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/08/fukeshirazu_1807_01-thumb-232xauto-848.jpg"
                    alt="第4回<br>3条 若々しい血管を保つためには、減塩を心がけ、ビタミンＥ豊富な食材をとりましょう。" class="thumb is-media">
                </div>
              </div>
              <div class="media__content">
                <div class="ttl is-4 is-bold">第4回<br>3条 若々しい血管を保つためには、減塩を心がけ、ビタミンＥ豊富な食材をとりましょう。</div>
              </div><!-- /.media__content -->
            </a><!-- /.media -->
          </div><!-- /.media-list__item -->





          <div class="media-list__item col l4 s2">
            <a class="media media--vertical is-line-gray" href="https://www.zenyaku.co.jp/k-1ban/h_menu/fukeshirazu/1808.html">
              <div class="media__block">
                <div class="image is-center">
                  <img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/08/fukeshirazu_1808_01-thumb-232xauto-710.jpg"
                    alt="第5回<br>3条 若々しい血管を保つためには、<br>減塩を心がけビタミンE豊富な食材をとりましょう。 ＜野菜編＞" class="thumb is-media">
                </div>
              </div>
              <div class="media__content">
                <div class="ttl is-4 is-bold">第5回<br>3条 若々しい血管を保つためには、<br>減塩を心がけビタミンE豊富な食材をとりましょう。 ＜野菜編＞</div>
              </div><!-- /.media__content -->
            </a><!-- /.media -->
          </div><!-- /.media-list__item -->





          <div class="media-list__item col l4 s2">
            <a class="media media--vertical is-line-gray" href="https://www.zenyaku.co.jp/k-1ban/h_menu/fukeshirazu/1809.html">
              <div class="media__block">
                <div class="image is-center">
                  <img src="https://www.zenyaku.co.jp/k-1ban/assets_c/2018/09/fukeshirazu_1809_01-thumb-232xauto-1400.jpg"
                    alt="第6回<br>4条 賢くカロリーを控えて、健康的に美しくダイエットしましょう。 ＜和食編＞" class="thumb is-media">
                </div>
              </div>
              <div class="media__content">
                <div class="ttl is-4 is-bold">第6回<br>4条 賢くカロリーを控えて、健康的に美しくダイエットしましょう。 ＜和食編＞</div>
              </div><!-- /.media__content -->
            </a><!-- /.media -->
          </div><!-- /.media-list__item -->



        </div><!-- /.media-list__block -->
      </div><!-- /.media-list -->

















    </div>
  </section>






  <!-- シリーズ アーカイブ -->
  <section class="section is-bg-recipe-archive" style="background-image: url(/k-1ban/assets/img/recipe/ph_resipe_bg.png);">
    <div class="container is-w-2">

      <div class="ttl is-3"><span>レシピ集</span></div>

      <div class="btn-group sep-row is-gap-3">

























































































        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/fukeshirazu" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-fukeshirazu.png" class="thumb is-round is-round-2">
            老けしらずさんの健康レシピ
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/nikusakana" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-nikusakana.png" class="thumb is-round is-round-2">
            50歳からの肉・魚レシピ
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/guide" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-guide.png" class="thumb is-round is-round-2">
            しっかり学んで改善！健康レシピガイド
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/stress" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-stress.png" class="thumb is-round is-round-2">
            食べて解消！お役立ちレシピ
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/support" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-support.png" class="thumb is-round is-round-2">
            困ったときの 健康サポートレシピ
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/kirei" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-kirei.png" class="thumb is-round is-round-2">
            キレイのためのレシピ
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/caldiet" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-caldiet.png" class="thumb is-round is-round-2">
            カルシウム料理で健康ダイエット
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/manzoku" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-manzoku.png" class="thumb is-round is-round-2">
            お年寄りにも満足レシピ
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/kids" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-kids.png" class="thumb is-round is-round-2">
            わんぱくキッズレシピ
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/recipe" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-recipe.png" class="thumb is-round is-round-2">
            栄養充実レシピ
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/metabo" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-metabo.png" class="thumb is-round is-round-2">
            メタボ予防クッキング
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/calcium" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-calcium.png" class="thumb is-round is-round-2">
            カルシウム・クッキング
          </a>
        </div><!-- /.btn-group__item -->



        <div class="btn-group__item col l3 s1">
          <a href="https://www.zenyaku.co.jp/k-1ban/h_menu/healthy" class="btn is-txt">
            <img src="https://www.zenyaku.co.jp/k-1ban/assets/img/recipe/icon-healthy.png" class="thumb is-round is-round-2">
            旬のヘルシー料理を食卓へ
          </a>
        </div><!-- /.btn-group__item -->































      </div><!-- /.btn-group -->

    </div><!-- /.container -->
  </section><!-- /.section -->



















  <aside class="section">
    <div class="container is-w-4">
      <div class="btn-group">
        <div class="btn-group__block">

          <a href="../" class="btn is-square is-bg-dk-gray is-center">
            <span class="icon icon-arrow_has_bg_re is-left-fix"></span>前のページに戻る
          </a>


        </div><!-- /.btn-group__block -->

        <div class="btn-group__block">
          <a href="/k-1ban/" class="btn is-square is-bg-dk-gray is-center">
            <span class="icon icon-arrow_has_bg_re is-left-fix"></span>「健康情報」に戻る
          </a>
        </div><!-- /.btn-group__block -->
      </div><!-- /.btn-group -->

    </div><!-- /.container -->
  </aside><!-- /.section -->


  <script>< !--
  var ref = document.referrer;
    var setElm = document.getElementById('backlink_a');
    if (ref) {
      setElm.setAttribute("href", ref);
    }
  // -->
  </script>




  <% include _footer %>

  <script src="assets/js/default.js"></script>

</body>

</html>